.blog-posts{
    .media{
        .media-body{
            h5{
                font-size: 1.5rem;
                time, span {
                    font-size: 0.8333333333333334rem;
                }
            }
            .read-more{
                font-size: 0.8333333333333334rem;
            }
        }
    }
}