#comments{
    div[for=comment]{
        span{
            font-size: 18px;
        }
        .authenticated{
            font-size: 10px;
        }
    }
    form{
        &#form-comment{
            .form-row{
                .form-group {
                    .comments-input {
                        margin-left: auto;
                        width: 90% !important;
                        @media only screen and (max-width: 576px){
                            margin-left: 0;
                            width: 100% !important;
                        }
                    }
                }
            }
            .mx-sm-auto{
                @media only screen and (max-width: 576px){
                    padding: 0 2rem;
                }
            }
            /* textarea{
                @media only screen {
                    @media (max-width: 576px){
                        width: 84.4vw;
                    }
                    @media (min-width: 768px){
                        width: 61.2vw;
                    }
                    @media (min-width: 992px){
                        width: 60vw;
                    }
                    @media (min-width: 1200px){
                        width: 64.7vw;
                    }
                }
            } */
            button, a{
                &#submit, &#cancel-comment-reply-link{
                    @media screen {
                        @media (min-width: 768px){
                            height: 28px;
                            padding-top: 2px;
                        }
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
                &#cancel-comment-reply-link{
                    color: #150e38;
                }
                &#submit{
                    &:hover{
                        background-color: #25a189 !important;
                    }
                    border: none;
                }
            }
        }
    }
    .list-comments{
        @media only screen and (max-width: 576px){
            padding: 0 2rem;
        }
        .media{
            margin-bottom: 2.5rem;
            .media-body{
                h5{
                    a{
                        &.bypostauthor{
                            font-size: 12px;
                        }
                    }
                    .comment-time{
                        font-size: 10px;
                    }
                }
                .comment-text{
                    font-size: 12px;
                    max-width: 60vw;
                    p{
                        margin-bottom: 0;
                        @media only screen and (max-width: 576px) {
                            margin-left: 0.5rem;
                        }
                    }
                    @media only screen and (min-width: 576px){
                        margin-left: 0.5rem;
                    }
                }
                .comment-reply-link, .comment-edit-link{
                    color: #2cb4c1;
                    font-size: 12px;
                }
            }
        }
    }
    ul{
        &.children{
            &.align-children{
                @media only screen and (min-width: 576px){
                    margin-left: 2.5rem;
                }
            }
        }
    }
    .navigation{
        border-top: 1px solid #898d8f;
        .float-left, .float-right{
            color: #898d8f;
            margin-top: 0.5rem;
            a{
                color: #898d8f;
                font-weight: normal;
            }
        }
        .float-left{
            i{
                transform: rotate(90deg);
                margin-right: -4px;
                vertical-align: top;
            }
        }
        .float-right{
            i{
                transform: rotate(90deg);
                margin-left: -4px;
                vertical-align: top;
            }
        }
    }
}