footer{
    &.tainacan-footer {
        background-color: #2c2d2d;
    }
    ul{
        li{
            &.tainacan-side {
                h6 {
                    font: {
                        size: 1.125rem;
                    }
                }
            }
            p{
                .fiber{
                    font-size: 0.5625rem;
                }
            }
            a{
                color: #898d8f;
                &:hover {
                    color: #898d8f;
                    text-decoration: none;
                }
            }
        }
    }
    .tainacan-footer-info {
        @media only screen and (max-width: 768px){
            margin: 0 calc(4.16666666667% * 1);
            argin: 0 calc(4.16666666667vw * 1);
        }
        @media only screen and (max-width: 991px){
            margin: 0 calc(4.16666666667% * 2);
            margin: 0 calc(4.16666666667vw * 2);
        }
        @media only screen and (min-width: 992px){
            margin: 0 calc(4.16666666667% * 3);
            margin: 0 calc(4.16666666667vw * 3);
        }
        .tainacan-footer-info--blog {
            font: {
                size: 0.875rem;
                weight: 400;
            }
        }
        .tainacan-footer-info--logo {
            width: 120px;
        }
        .tainacan-powered {
            font-size: 0.875rem;
            font-weight: 400;
            color: #cbcbcb;

            a {
                color: white;
                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
}