footer {
    &.tainacan-footer {
        background-color: #2c2d2d;
        
        .tainacan-footer-widgets-area {
            @media only screen and (max-width: 991px){
                margin: 0 calc(4.16666666667% * 1);
                margin: 0 calc(4.16666666667vw * 1);
            }
            @media only screen and (min-width: 992px){
                margin: 0 calc(4.16666666667% * 3);
                margin: 0 calc(4.16666666667vw * 3);
            }
            .tainacan-side ul,
            .tainacan-side ol {
                list-style: inside;
                li{
                    color: white;
                    margin-bottom: 1rem;
                    &.tainacan-side {
                        h6 {
                            font: {
                                size: 1.125rem;
                            }
                        }
                    }
                    p{
                        .fiber{
                            font-size: 0.5625rem;
                        }
                    }
                    a{
                        color: #9f9f9f;
                        &:hover {
                            color: white;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .tainacan-footer-info {
            font-size: 0.875rem;

            @media only screen and (max-width: 991px){
                margin: 0 calc(4.16666666667% * 1);
                margin: 0 calc(4.16666666667vw * 1);
            }
            @media only screen and (min-width: 992px){
                margin: 0 calc(4.16666666667% * 3);
                margin: 0 calc(4.16666666667vw * 3);
            }

            .tainacan-footer-info--blog {
                font-weight: 400;
                margin-bottom: 2rem;
            }
            .tainacan-footer-info--logo {
                width: 120px;
            }
            .tainacan-powered {
                font-weight: 400;
                color: #cbcbcb;

                a {
                    color: #f9f9f9;
                    &:hover {
                        color: white;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}