footer {
    &.tainacan-footer {
        background-color: #2c2d2d;
        a {
            color: #9f9f9f;
            &:hover {
                color: white;
                font-weight: 600;
                text-decoration: none;
            }
        }
        
        .tainacan-footer-widgets-area {
            @media only screen and (max-width: 991px){
                margin: 0 calc(4.16666666667% * 1);
                margin: 0 calc(4.16666666667vw * 1);
            }
            @media only screen and (min-width: 992px){
                margin: 0 calc(4.16666666667% * 2);
                margin: 0 calc(4.16666666667vw * 2);
            }
            nav {
                border: none;
            }
            .tainacan-side ul,
            .tainacan-side ol {
                list-style: inside;
                
                li{
                    color: white;
                    margin-bottom: 0.875rem;
                    
                    &.tainacan-side {
                        h6 {
                            font: {
                                size: 1.125rem;
                            }
                        }
                    }
                    p {
                        .fiber{
                            font-size: 0.5625rem;
                        }
                    }
                    a {
                        color: #9f9f9f;
                        &:hover {
                            color: white;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                }
            }
            .gallery {
                display: flex;
                flex-wrap: wrap;
                max-height: 485px;
                overflow: hidden;
                justify-content: flex-start;
                align-items: flex-start;
                .gallery-item{
                    margin: 5px !important;
                    width: auto !important;

                    img {
                        border: none !important;
                    }
                }
                .gallery-caption {
                    display: none;
                }
                br{
                    display: none;
                }
            }
            .image {
                max-width: 100%;
                height: auto;
            }
        }
        .tainacan-footer-info {
            font-size: 0.875rem;
            width: auto;

            @media only screen and (max-width: 991px){
                margin: 0 calc(4.16666666667% * 1);
                margin: 0 calc(4.16666666667vw * 1);
            }
            @media only screen and (min-width: 992px){
                margin: 0 calc(4.16666666667% * 2);
                margin: 0 calc(4.16666666667vw * 2);
            }

            .tainacan-footer-info--blog {
                font-weight: 400;
                margin-bottom: 2rem;
            }
            .tainacan-footer-info--logo {
                width: 120px;
            }
            .tainacan-powered {
                font-weight: 400;
                color: #cbcbcb;

                a {
                    color: #f9f9f9;
                    &:hover {
                        color: white;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }
        &.tainacan-footer-colored {
            background-color: #298596;
            a {
                color: #e6f6f8;
            }
            .tainacan-footer-widgets-area {
                .tainacan-side ul,
                .tainacan-side ol {
                    li {
                        a {
                            color: #e6f6f8;
                        }
                    }
                }
            }
            .tainacan-footer-info {
                .tainacan-powered {
                    color: #e6f6f8;
                }
            }
        }
        &.tainacan-footer-light {
            background-color: #f2f2f2;
            .text-white {
                color: #454647 !important;
            }
            a {
                color: #454647;
                &:hover {
                    color: black;
                }
            }
            
            .tainacan-footer-widgets-area {
                .tainacan-side ul,
                .tainacan-side ol {
                    li{
                        color: black;
                        a {
                            color: #454647;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
            .tainacan-footer-info {
                .tainacan-powered {
                    color: #454647;
                    a {
                        color: #222;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}