.alignwide {
    margin-left: calc(-8.3333333333vw + 15px) !important;
    margin-right: calc(-8.3333333333vw + 15px) !important;
    width: 116.66667%;
    max-width: 1400px;

    // 1400px is the maximum the inner cointainer should get, so we 
    // use 1526px - 1 column - 1 column;
    @media only screen and (min-width: 1526px) {
        margin-left: calc(-1*(87.5vw - 1415px)/2) !important !important;
        margin-right: calc(-1*(87.5vw - 1415px)/2) !important !important;
    }
}

// 1400px is the maximum the inner cointainer should get, so we 
// use 1526px - 1 column - 1 column;
.wp-block-image.alignwide>img {
    max-width: 1400px !important;
    width: calc(100vw - 12.5vw) !important;
    padding: 0 !important;
    left: 0px;
    position: relative;

    @media only screen and (min-width: 1526px) {
        left: 30px;
    }
}

.alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
    margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
    max-width : 100%;
    max-width : 100vw;
    width: 100%;
    width: 100vw;
}
.wp-block-image.alignfull>img {
    max-width: 100% !important;
    width: 100% !important;
    max-width: 100vw !important;
    width: 100vw !important;
    padding: 0 !important;
}

/* Buttons */
.wp-block-button {
    margin-bottom: 1rem;
    .btn { font-size: 0.875rem; }
}
.wp-block-button.is-style-outline .btn {
    background: white !important;
    color: #298596;
    border: 1px solid #555758 !important
}
.wp-block-button.aligncenter,
.wp-block-button.alignleft,
.wp-block-button.alignright {
    display: block;
}

/* Media and Text */
.wp-block-media-text {
	margin-top: 2rem;
    margin-bottom: 2rem;
    
    .wp-block-media-text__content {
        padding: 0.75rem 4.16666667%;
        padding: 0.75rem 4.1666667vw;
    }
}