// Register palette classes for colors
.has-carmine-color { color: #8c442c !important; }
.has-carmine-background-color { background-color: #8c442c !important; }
.has-cherry-color { color: #A12B42 !important; }
.has-cherry-background-color { background-color: #A12B42 !important; }
.has-mustard-color { color: #754E24 !important; }
.has-mustard-background-color { background-color: #754E24 !important; }
.has-mintgreen-color { color: #255F56 !important; }
.has-mintgreen-background-color { background-color: #255F56 !important; }
.has-darkturquoise-color { color: #205E6F !important; }
.has-darkturquoise-background-color { background-color: #205E6F !important; }
.has-turquoise-color { color: #185F6D !important; }
.has-turquoise-background-color { background-color: #185F6D !important; }
.has-blueheavenly-color { color: #1D5C86 !important; }
.has-blueheavenly-background-color { background-color: #1D5C86 !important; }
.has-purple-color { color: #4751a3 !important; }
.has-purple-background-color { background-color: #4751a3 !important; }
.has-violet-color { color: #955ba5 !important; }
.has-violet-background-color { background-color: #955ba5 !important; }
.has-white-color { color: #ffffff !important; }
.has-white-background-color { background-color: #ffffff !important; }
.has-lightgray-color { color: #f2f2f2 !important; }
.has-lightgray-background-color { background-color: #f2f2f2 !important; }
.has-darkgray-color { color: #555758 !important; }
.has-darkgray-background-color { background-color: #555758 !important; }
.has-default-color { color: var(--tainacan-interface--link-color, #298596) !important; }
.has-default-background-color { background-color: var(--tainacan-interface--link-color, #298596) !important; }

.alignwide {
    margin-left: calc(-8.3333333333vw + 3.1%) !important;
    margin-right: calc(-8.3333333333vw + 3.1%) !important;
    width: 116.66667%;
    max-width: 1400px;

    // 1400px is the maximum the inner cointainer should get, so we 
    // use 1526px - 1 column - 1 column;
    @media only screen and (min-width: 1526px) {
        width: 116.66667vw;
    }
}

.has-text-color>a,
.has-text-color>a:hover {
    color: inherit;
}

// 1400px is the maximum the inner cointainer should get, so we 
// use 1526px - 1 column - 1 column;
.wp-block-image.alignwide>img {
    max-width: 1400px !important;
    width: calc(100% - 12.5%) !important;
    width: calc(100vw - 12.5vw) !important;
    padding: 0 !important;
    left: 0px;
    position: relative;

    @media only screen and (min-width: 1526px) {
        width: 100% !important;
    }
}

.alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
    margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
    max-width : 100%;
    max-width : 100vw;
    width: 100%;
    width: 100vw;
}
.wp-block-image.alignfull>img {
    max-width: 100% !important;
    width: 100% !important;
    max-width: 100vw !important;
    width: 100vw !important;
    padding: 0 !important;
}

/* Columns */
.wp-block-columns.alignfull {
    padding-left: 8.333333%;
    padding-right: 8.333333%;
}

/* Buttons */
.wp-block-buttons {
    align-items: center;
}
.wp-block-button {
    margin-bottom: 1rem;
    .btn { 
        font-size: 0.875rem;
        padding: .25rem 1.125rem;
        border-color: transparent;
    }
    &:not(.is-style-outline) .btn.btn-jelly-bean,
    &:not(.is-style-outline) .btn.btn-jelly-bean:hover,
    &:not(.is-style-outline) .btn.btn-jelly-bean:focus {
        background-color: var(--tainacan-interface--link-color, #298596);
        color: var(--wp--preset--color--white, #fff);
    }
    &.is-style-outline > .wp-block-button__link,
    & > .wp-block-button__link.is-style-outline {
        padding: .25rem 1.125rem;
        border: 1px solid #555758 !important;

        &:not(.has-text-color) {
            color: var(--tainacan-interface--link-color, #298596);
        }
    }
    button:disabled {
        pointer-events: none;
        opacity: 0.55;
    }
}
.wp-block-button.is-style-outline:not(.has-background-color) .btn {
    background: transparent !important;
}

.wp-block-button.aligncenter,
.wp-block-button.alignleft,
.wp-block-button.alignright {
    display: block;
}

/* Media and Text */
.wp-block-media-text {
	margin-top: 2rem;
    margin-bottom: 2rem;
    
    .wp-block-media-text__content {
        padding: 0.75rem 4.16666667%;
        padding: 0.75rem 4.1666667vw;
    }
}

/* Cover block */
// .wp-block-cover__inner-container>*:where(:not(.alignleft):not(.alignright)) {
//     max-width: 1400px;
//     margin-left: auto;
//     margin-right: auto;
//     // padding: 0 8.3333333333%;
//     // padding: 0 8.3333333333vw;
// }

/* Carousel */
.wp-block-tainacan-carousel-items-list.alignwide .tainacan-carousel,
.wp-block-tainacan-carousel-collections-list.alignwide .tainacan-carousel,
.wp-block-tainacan-carousel-terms-list.alignwide .tainacan-carousel {
    width: 100%;
    left: 0;
}
.wp-block-tainacan-carousel-items-list.alignfull .tainacan-carousel,
.wp-block-tainacan-carousel-collections-list.alignfull .tainacan-carousel 
.wp-block-tainacan-carousel-terms-list.alignfull .tainacan-carousel  {
    width: 100%;
    width: 100vw;
    left: 0;
}

/* Links */
.wp-social-link {
    padding: 0;
}

/* Fixes for cases where previos block-based widgets are loaded in the theme */
#sidebar .alignfull,
#sidebar .alignwide {
    max-width: 100%;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/* Search and navigation block with some details */
.wp-block-search__label {
    font-weight: bold;
    font-size: 1em;
}
.wp-block-search__inside-wrapper .wp-block-search__button {
    margin-left: 0;
    padding: 0.125rem;
}
.wp-block-navigation .wp-block-navigation-item__label {
    white-space: nowrap;
}
.wp-block-navigation__responsive-close {
    margin-right: 0px;
}