.page-header-taxonomy {
    border: 0;
    display: flex;
    height: 300px;
    margin: 0;
    position: relative;
    overflow-y: auto;
    background-color: #f2f2f2;
    @media only screen and (min-width: 641px) and (max-width: 992px) {
        height: 37.5%;
        height: 37.5vw;
        .page-header-share {
            margin-top: 3px !important;
        }
    }
    @media only screen and (max-width: 640px) {
        height: auto;
    }
    > .container-fluid {
        margin-left: 0 !important;
        max-width: calc(100vw - 4.166667%);
        max-width: calc(100vw - 4.166667vw);
        @media only screen and (max-width: 640px) {
            margin: 0;
            max-width: 100%;
            max-width: 100vw;
        }

        > .page-header-image {
            height: 100%;
            width: auto;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #f2f2f2;

            @media only screen and (min-width: 641px) and (max-width: 992px) {
                height: 37.5%;
                height: 37.5vw;
            }
            @media only screen and (max-width: 640px) {
                height: auto;
                width: 100%;
            }
        }
        > .page-header-content {

            > .page-header-content-meta {
                margin: 35px 0 24px 4.16666666667%;
                margin: 35px 0 24px 4.16666666667vw;

                @media only screen and (max-width:992px) {
                    margin-top: 24px;
                    margin-bottom: 18px;
                }
                @media only screen and (max-width: 640px) {
                    margin-top: 40px;
                    margin-bottom: 25px;
                    margin-left: 8.333333%;
                    margin-right: 8.333333%;
                    margin-left: 8.333333vw;
                    margin-right: 8.333333vw;
                }
                > .page-header-content-title {
                    width: 100%;
                    border-color: #298596 !important;
                    .page-header-title {
                        color: #01295c;
                        font: {
                            size: 20px;
                            weight: 400;
                        }
                        margin-bottom: 0.375rem;
                    }
                    .page-header-back {
                        font-size: 0.875rem;
                        display: flex;
                        align-self: center;
                        margin-bottom: .2rem;
                    }
                }
                > .page-header-hightlights {
                    margin-top: 24px;
                    @media only screen and (max-width: 992px) {
                        margin-top: 14px;
                    }
                    > .page-header-description {
                        color: #000;
                        font: {
                            size: 0.875rem;
                            weight: 400;
                        }
                        margin-bottom: 0.5rem;
                        padding: 0 4.16666666667% 0 0;
                        @media only screen and (max-width: 992px) {
                            font-size: 0.75rem;
                            padding-right: 0;
                        }
                        a {
                            color: #298596;
                            font: {
                                size: inherit;
                                weight: 400;
                            }   
                        }
                        &.tainacan-interface-truncate-term {
                            .tainacan-interface-more-term, .tainacan-interface-less-term {
                                color: #4f4f4f;
                                white-space: nowrap;
                                opacity: 0.75;
                            }
                            &.full-story {
                                height: auto;
                                margin-bottom: 2rem;
                            }
                        }
                    }
                    > .page-header-share {
                        white-space: nowrap;
                        min-width: 110px;
                        padding: 0;

                        @media only screen and (max-width: 992px) {
                            margin-top: 12px;
                        }
                        @media only screen and (max-width: 640px) {
                            margin-top: 24px;
                        }
                        .page-header-icons {
                            width: 100%;
                            @media only screen and (max-width: 768px) {
                                &:not(:last-child) {
                                    width: 20%;;
                                }
                                width: 50%;
                            }
                            .share-title {
                                color: #000;
                                font: {
                                    size: 0.875rem;
                                    weight: 500;
                                }
                                margin-bottom: .1rem;
                            }
                            @media only screen and (min-width: 769px) {
                                &:not(:last-child){
                                    margin-bottom: 22px;
                                }
                            }
                            .icon-export {
                                background-color: #298596;
                                color: #fff;
                                border-radius: 100%;
                                padding: .282rem .4rem;
                            }
                            .share-link {
                                &:hover {
                                    text-decoration: none;
                                }
                                .share-images {
                                    width: 28px;
                                    height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-header-taxonomy--height-auto { height: auto; }