/* .t-collection--background-title{
    position: absolute;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    height: 172px !important;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(51%, rgba(0,0,0,0.51)), color-stop(71%, rgba(0,0,0,0.71)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
} */
.t-bg-collection{
    min-height: 150px;
    @media only screen and (max-width: 576px){
        min-height: 65px;
    }
    z-index: 1;
    .t-collection--info {
        padding-top: 6px;
        .t-collection--col-3{
            flex: 0 0 18% !important;
            max-width: 18% !important;
            @media only screen and (max-width: 576px){
                flex: 0 0 29% !important;
                max-width: 29% !important;
            }
            @media only screen and (min-width: 1400px){
                flex: 0 0 16% !important;
                max-width: 16% !important;
            }
        }
        .t-collection--col-9{
            margin-left: 4.16666666667%;
            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .t-collection--info-img, .image-placeholder {
            width: 205px;
            height: 205px;
            max-width: 205px;
            bottom: 2rem;
            border-width: 4px !important;
            @media only screen and (max-width: 1024px){
                width: 165px;
                height: 165px;
                max-width: 165px;
                bottom: 4rem;
            }
            @media only screen and (max-width: 992px){
                bottom: 7rem;
                width: 123px;
                height: 123px;
                max-width: 123px;
            }
            @media only screen and (max-width: 576px){
                width: 95px;
                height: 95px;
                max-width: 95px;
                bottom: 4rem;
            }
            @media only screen and (max-width: 360px){
                width: 95px;
                height: 95px;
                max-width: 95px;
                bottom: 8rem;
            }
        }
        .t-collection--info-title {
            font: {
                size: 24px;
                weight: 700;
            }
            margin-top: 0.4rem;
            @media only screen and (max-width: 767px){
                font: {
                    size: 18px;
                    weight: 500;
                }
            }
        }
        .t-collection--info-description-text {
            font: {
                size: 14px;
                weight: 400;
            }
            margin-bottom: 0;
            @media only screen and (max-width: 576px){
                font: {
                    size: 9px;
                    weight: 400;
                }
                margin-top: 0.5rem;
            }
            &.elimore {
                height: 65px;
                .toggle {
                    &::before{
                        content: "[ Show more ]";
                    }
                }
                &.full-story {
                    height: auto;
                    .toggle {
                        &::before{
                            content: "[ Show less ]";
                        }
                    }
                }
            }
        }
    }
}

.radial {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    transition: all 0.5s;
    margin-right: 4.16666666667%;
    bottom: 0;
}

.fab {
    border: none;
    color: #2c2d2d;
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    height: 30px !important;
    width: 30px !important;
    margin-right: 4.16666666667%;
    position: absolute;
    bottom: -1rem;
}
.fab:hover {
    background-color: #fff;
}
.fab:focus{
    outline:none;
}

#plus {
    transition: all 0.5s;
}

#fa-1, #fa-2, #fa-3 {
    position: absolute;
    color: #2c2d2d;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    right: 0;
    transition: all 0.5s;
    height: 30px !important;
    width: 30px !important;
    margin-right: 4.16666666667%;
    right: 0;
    bottom: -1rem;
}
#fa-1:hover, #fa-2:hover, #fa-3:hover {
    tansition-delay: 0s;
    color: #ff8db3;
}

.radial.open {
    height: 100px;
    width: 100px;
    right: 0;
}
.radial.open .fab {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.radial.open #plus {
    /* -webkit-transform: rotateZ(135deg) translate(-1px, 3px);
    transform: rotateZ(135deg) translate(-1px, 3px); */
}
.radial.open #fa-1 {
    transition-delay: 0s;
    -webkit-transform: translate(-53px, 10px);
    transform: translate(-53px, 10px);
}
.radial.open #fa-2 {
    transition-delay: 0.1s;
    -webkit-transform: translate(-38px, -39px);
    transform: translate(-38px, -39px);
}
.radial.open #fa-3 {
    transition-delay: 0.2s;
    -webkit-transform: translate(10px, -53px);
    transform: translate(10px, -53px);
}