/* .t-collection--background-title{
    position: absolute;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    height: 172px !important;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(51%, rgba(0,0,0,0.51)), color-stop(71%, rgba(0,0,0,0.71)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
} */
.t-collection--info {
    .t-collection--info-img {
        max-width: 160px;
        max-height: 160px;
        width: 100%;
        @media screen and (min-width: 992px){
            transform: translate3d(0,-50%,0);
        }
    }
    .t-collection--info-title {
        @media screen and (min-width: 992px){
            transform: translate3d(0,-120%,0);
        }
    }
}