/* .t-collection--background-title{
    position: absolute;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    height: 172px !important;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(51%, rgba(0,0,0,0.51)), color-stop(71%, rgba(0,0,0,0.71)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.51) 51%, rgba(0,0,0,0.71) 71%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
} */
.t-bg-collection{
    height: 125px;
    @media only screen and (max-width: 576px){
        height: 65px;
    }
    .t-collection--info {
        padding-top: 6px;
        .t-collection--col-3{
            flex: 0 0 18% !important;
            max-width: 18% !important;
            @media only screen and (max-width: 576px){
                flex: 0 0 29% !important;
                max-width: 29% !important;
            }
            @media only screen and (min-width: 1400px){
                flex: 0 0 16% !important;
                max-width: 16% !important;
            }
        }
        .t-collection--col-9{
            margin-left: 4.16666666667%;
            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                left: 0;
                right: 20vw;
            }
        }
        .t-collection--info-img, .image-placeholder {
            width: 205px;
            height: 205px;
            max-width: 205px;
            bottom: -6rem;
            border-width: 2px !important;
            @media only screen and (max-width: 1024px){
                width: 165px;
                height: 165px;
                max-width: 165px;
                bottom: -5rem;
            }
            @media only screen and (max-width: 992px){
                bottom: -4rem;
                width: 123px;
                height: 123px;
                max-width: 123px;
            }
            @media only screen and (max-width: 576px){
                width: 95px;
                height: 95px;
                max-width: 95px;
                bottom: -3rem;
            }
        }
        .t-collection--info-title {
            font: {
                size: 24px;
                weight: 700;
            }
            bottom: 2.8rem;
            @media only screen and (max-width: 767px){
                font: {
                    size: 18px;
                    weight: 500;
                }
                bottom: 0.5rem;
            }
            @media only screen and (min-width: 768px){
                bottom: 0.5rem;
            }
        }
        .t-collection--info-description-text {
            font: {
                size: 12px;
                weight: 400;
            }
            @media only screen and (max-width: 576px){
                font: {
                    size: 9px;
                    weight: 400;
                }
            }
        }
    }
}