.collection-header {
    // 1400px is the maximum the inner cointainer should get, so we 
    // use 1526px - 1 column - 1 column;
    @media only screen and (min-width: 1526px) {
        overflow: inherit;
    }
}
.t-bg-collection {
    background-color: #2c2d2d;
    min-height: 150px;
    z-index: 1;
    
    @media only screen and (max-width: 768px){
        min-height: 130px;
    }
    @media only screen and (max-width: 576px){
        min-height: 96px;
    }

    .t-collection--info-img, .image-placeholder {
        width: calc(16.6666666667% - 8px);
        width: calc(16.6666666667vw - 8px);
        height: calc(16.6666666667% - 8px);
        height: calc(16.6666666667vw - 8px);
        max-height: 215px;
        max-width: 215px;
        bottom: -111px; // 215px/2 + 4px 
        border-width: 4px !important;
        background-color: #f2f2f2;

        // Above this point, the container should not be larger
        // 1400px is the maximum the inner cointainer should get, so we 
        // use 1526px - 1 column - 1 column;
        @media only screen and (max-width: 1526px) {
            margin-left: 4.16666666667%;
            margin-left: 4.16666666667vw;
        }
        // Above this point, the circle will reach it's maximum size
        @media only screen and (max-width: 1290px) {
            bottom: calc(-8.33% + 4px);
            bottom: calc(-8.33vw + 4px);
        }
        // Mobile
        @media only screen and (max-width: 767px){
            width: calc(25% - 8px);
            width: calc(25vw - 8px);
            height: calc(25% - 8px);
            height: calc(25vw - 8px);
            max-width: calc(25% - 8px);
            max-width: calc(25vw - 8px);
            bottom: calc(-12.5% - 4px);
            bottom: calc(-12.5vw - 4px);

            h4 {
                font-size: 2.5rem !important;
            }
        }

        h4 {
            font-size: 3rem;
        }
    }
    .t-collection--info {
        padding-top: 10px;
        justify-content: space-between;

        .t-collection--col-9 {
            padding-left: calc(4.16666666667% + 2.75rem) !important;
            padding-right: 12.5% !important;

            @media only screen and (max-width: 767px){
                padding-left: calc(4.16666666667% + 1.25rem) !important;
                padding-right: 8.33% !important;
            }

            h2 {
                padding-top: 0 !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .t-collection--info-title {
            font: {
                size: 1.5rem !important;
                weight: 600;
            }
            margin-top: 0.4rem;
            @media only screen and (max-width: 768px){
                font: {
                    size: 1.125rem !important;
                    weight: 600;
                }
            }
        }
        .t-collection--info-description-text {
            font: {
                size: 0.875rem;
                weight: 400;
            }
            margin-bottom: 0;
            a {
                color: rgba(255, 255, 255, 0.60);
            }
            @media only screen and (max-width: 576px){
                // font: {
                //     size: 9px;
                //     weight: 400;
                // }
                margin-top: 0.5rem;
            }
            &.tainacan-interface-truncate {
                min-height: 65px;
                margin-bottom: 1.25rem;
                .tainacan-interface-more, .tainacan-interface-less {
                    color: #cbcbcb;
                    white-space: nowrap;
                    opacity: 0.75;
                }
                &.full-story {
                    height: auto;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
  }
.collection-header--share {
    @extend .absolute-center;
    width: 35px;
    height: 35px;
    left: 94.833333%;
    top: -2px;

    // 1400px is the maximum the inner cointainer should get, so we 
    // use 1526px - 1 column - 1 column;
    @media only screen and (max-width: 1526px) {
        margin-right: 4.16666666667%;
        margin-right: 4.16666666667vw;
    }

    @media only screen and (max-width: 576px) {
        left: 90.833333%;
    }
    .btn {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.0rem;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        z-index: -10;
        cursor: pointer;
        transition: opacity 0.3s, z-index 0.3s, transform 0.3s;
        transform: translateX(0);
        color: #2c2d2d;

        .tainacan-icon {
            @extend .absolute-center;
            font-size: 1.4rem;
            transition: color 0.3s;
            color: #2c2d2d;
            margin-top: -0.05rem;
            &.tainacan-icon-share {
                left: 45%;
            }
            &.tainacan-icon-telegram {
                margin-top: 0.1rem;
                margin-left: -0.01rem;
            }
            &.tainacan-icon-whatsapp {
                margin-top: 0rem;
            }
        }
        &.trigger {
            opacity: 1;
            z-index: 100;
            cursor: pointer;
            transition: transform 0.3s;
        }
    }

    .rotater {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
        a {
            color: #2c2d2d;
        }
    }

    &.active {
        .btn {
            opacity: 1 !important;
            z-index: 50;
        }
    }
}

$numOfElems: 8;

@for $i from 1 through $numOfElems {
    $deg: 360deg / $numOfElems;
    .rotater:nth-child(#{$i}) {
        transform: rotate($deg/-2 + $deg * ($i - 2));
    }

    .collection-header--share.active {
        .rotater:nth-child(#{$i}) .btn-icon {
            transform: translateX(-4em) rotate($deg/2 - $deg * ($i - 2)); 
        }
    }
}

