.tainacan-list-post {
    //padding: 0 1rem 0 2rem;
    .blog-post{
        .blog-thumbnail{
            @media screen {
                @media (min-width: 992px){
                    flex: 0 0 29.333333%;
                }
            }
            /* img{
                box-shadow: 0 4px 9px 0 #00000061, 0 5px 15px 0 #00000059;
            } */
        }
        .blog-content{
            &.blog-flex{
                @media screen {
                    @media (min-width: 992px){
                        flex: 0 0 70.666667%;
                        max-width: 70.666667%;
                    }
                }
            }
            h3{
                font-size: 18px;
            }
            .text-black{
                font-weight: 400;
            }
            time{
                font: {
                    size: 12px;
                    weight: 400;
                }
                color: #898d8f;
            }
            a[rel="author"]{
                //color: #4f4f4f;
                font-size: 12px;
                font-weight: 400;
            }
            .readmore{
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    table {
        .tainacan-list-collection{
            th{
                vertical-align: baseline;
            }
            .collection-checkbox{
                width: 4.16666666667%;
                text-align: right;
                padding-right: 0;
            }
            .collection-miniature{
                width: calc(4.16666666667% * 2);
                text-align: center;
            }
            .collection-title{
                font: {
                    size: 14px;
                    weight: 400;
                }
                a {
                    color: #000;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .collection-create-by{
                font: {
                    size: 12px;
                    weight: 400;
                }

                a {
                    color: #898d8f;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}