.tainacan-list-post {
    //padding: 0 1rem 0 2rem;
    hr{
        &:last-child{
            display: none;
        }
    }
    .blog-post{
        .blog-thumbnail{
            padding-right: 0;
            margin-right: 4.16666666667%;
            @media screen {
                @media (min-width: 992px){
                    flex: 0 0 29.333333%;
                }
            }
            img{
                width: 300px;
                height: 193px;
            }
        }
        .blog-content{
            &.blog-flex{
                @media screen {
                    @media (min-width: 768px) {
                        flex: 0 0 61.666667%;
                        max-width: 61.666667%;
                    }
                    @media (min-width: 992px){
                        flex: 0 0 65.666667%;
                        max-width: 65.666667%;
                        padding-left: 0;
                    }
                }
            }
            h3{
                font-size: 18px;
            }
            .text-black{
                font-weight: 400;
            }
            time{
                font: {
                    size: 12px;
                    weight: 400;
                }
                color: #898d8f;
            }
            a[rel="author"]{
                //color: #4f4f4f;
                font-size: 12px;
                font-weight: 400;
            }
            .readmore{
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    
    table {
        thead {
            th {
                color: #898d8f;
                font : {
                    size: 12px;
                    weight: 400;
                }
            }
        }
        .tainacan-list-collection{
            cursor: pointer;
            th, td{
                vertical-align: baseline;
            }
            .collection-checkbox{
                width: 4.16666666667%;
                text-align: right;
                padding-right: 0;
            }
            .collection-miniature{
                width: calc(4.16666666667% * 2);
                text-align: center;
                img{
                    width: 40px;
                    height: 40px;
                }
                .image-placeholder {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
            .collection-title{
                font: {
                    size: 14px;
                    weight: 400;
                }
                a {
                    color: #000;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .collection-description, .collection-date{
                font: {
                    size: 12px;
                    weight: 400;
                }
            }
            .collection-create-by{
                font: {
                    size: 12px;
                    weight: 400;
                }

                a {
                    color: #898d8f;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .tainacan-list-collection--card {
        &:hover {
            background: #e5e5e5 !important;
            .tainacan-list-collection--title {
                background-color: #e5e5e5;
            }
        }
        .tainacan-list-collection--title {
            background: #fff;
            font: {
                size: 14px;
                weight: 400;
            }
        }
        .tainacan-list-collection--card-img {
            width: 172px;
            height: 172px;
        }
        .image-placeholder {
            height: 172px;
            width: 172px;
            margin-right: 1rem;
            > h4 {
                text-align: center;
                font-size: 48px;
            }
        }
        .media-body {
            p {
                font: {
                    size: 11px;
                    weight: 400;
                }
            }
        }
    }

    .tainacan-list-collection--container-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        grid-gap: 46px;
        .tainacan-list-collection--grid{
            //grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 250px;
            height: 295px;
            .tainacan-list-collection--grid-title{
                font: {
                    size: 14px;
                    weight: 400;
                }
                height: 45px;
            }
            .tainacan-list-collection--grid-img {
                width: 275px;
                height: 250px;
            }
            .image-placeholder {
                height: 250px;
                width: 250px;
                > h4 {
                    font-size: 48px;
                }
            }
        }
    }

    .tainacan-list-collection--grid-link, .tainacan-list-collection--card-link {
        &:hover{
            text-decoration: none;
            background-color: #e5e5e5;
            .tainacan-list-collection--title {
                background-color: #e5e5e5;
            }
        }
    }
}