.header{
    .header-img{
        @media only screen{
            @media (max-width: 768px){
                min-height: 240px;
            }
        }
    }
    .header-icon{
        @media only screen{
            @media (max-width: 414px){
                right: 1.4vw;
            }
            @media (min-width: 768px){
                right: 2.9vw;
            }
            @media (min-width: 1440px){
                right: 1.9vw;
            }
            @media (min-width: 1670px){
                right: 0.9vw;
            }
        }
    }
}

.capa-colecoes{
    .tainacan-info{
        @media only screen {
            @media (min-width: 992px){
                padding: 0 3rem 0 10rem !important;
            }
            @media (min-width: 1200px){
                padding: 0 3rem 0 16rem !important;
            }
        }
    }
    .tainacan-img-dest{
        @media only screen and (min-width: 768px) {
             /* show 3 items */
            .carousel-inner .active,
            .carousel-inner .active + .carousel-item,
            .carousel-inner .active + .carousel-item + .carousel-item {
                display: block;
            }
            
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
                transition: none;
            }
            
            .carousel-inner .carousel-item-next,
            .carousel-inner .carousel-item-prev {
                position: relative;
                transform: translate3d(0, 0, 0);
            }
            
            .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -33.3333%;
                z-index: -1;
                display: block;
                visibility: visible;
            }
            
            /* left or forward direction */
            .active.carousel-item-left + .carousel-item-next.carousel-item-left,
            .carousel-item-next.carousel-item-left + .carousel-item,
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            
            /* farthest right hidden item must be abso position for animations */
            .carousel-inner .carousel-item-prev.carousel-item-right {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                display: block;
                visibility: visible;
            }
            
            /* right or prev direction */
            .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
            .carousel-item-prev.carousel-item-right + .carousel-item,
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }
        }
    }
}

footer{
    @media only screen {
        @media (max-width: 991.98px){
            %transition {
                transition: all 0.25s ease-in-out;
            }
            
            /* %flipIn{
                animation: flipdown 0.5s ease both;
            } */
            %no-select{
              -webkit-tap-highlight-color: rgba(0,0,0,0);
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            h6{
                line-height: 34px;
                letter-spacing: 1px;
                display: block;
                margin: 0;
                @extend %no-select;
            }
            .tainacan-side{
                > p, div, ul{
                    line-height: 18px;
                    letter-spacing: 1px;
                    position: relative;
                    overflow: hidden;
                    max-height: 795px;
                    @extend %transition;
                    opacity: 1;
                    display: block;
                    transform: translate( 0 , 0 )  ;
                    margin-top: 14px;
                    z-index: 2;
                    font-size: 0.8rem;
                    &:nth-of-type(1){
                        margin: 5px 0 0.5em 0;
                    }
                }

                .gallery{
                    display: grid;
                    max-height: 485px;
                    overflow: hidden;
                    justify-content: center;
                    .gallery-item{
                        margin: 5px 0 !important;
                    }
                    br{
                        display: none;
                    }
                }

                &{
                    border-top: 1px solid white;
                }
                &:nth-last-child(1){
                    border-bottom: 1px solid white;
                }
            }
            ul {
                list-style: none;
                perspective: 900;
                padding: 0;
                margin: 0;
                li{
                    position: relative;
                    /* @extend %flipIn; */
                    
                    &:nth-of-type(1){
                        animation-delay: 0.5s;
                    }
                    &:nth-of-type(2){
                        animation-delay: 0.75s;
                    }
                    &:nth-of-type(3){
                        animation-delay: 1.0s;
                    }
                    &:last-of-type{
                        padding-bottom: 0;
                    }
                    i.symbol{
                        position: absolute;
                        transform: translate( -6px , 0 );
                        margin-top: 16px;
                        right: 0;
                        font-size: 0.9375rem;
                        &:before , &:after{
                            content: "";
                            @extend %transition;
                        }
                        &:before{
                            transform: translate( -2px , 0 ) rotate( 45deg );
                        }
                        &:after{
                            transform: translate( 2px , 0 ) rotate( -45deg );
                        }
                    }
                    h6{
                        i.symbol{
                            &:before{
                                content: "\F415";
                                display: inline-block;
                                font: normal normal normal 24px/1 "Material Design Icons";
                                font-size: 1.125rem;
                                text-rendering: auto;
                                line-height: inherit;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                @extend %transition;
                            }
                        }
                    }
                    input[type=checkbox]{
                        position: absolute;
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 0;
                        &:checked{
                            &~p, &~div, &~ul, &~img{
                                margin-top: 0;
                                max-height: 0;
                                opacity: 0;
                                display: none;
                                transform: translate( 0 , 50% );
                            }
                            &~i.symbol{
                                &:before{
                                    transform: translate( 2px , 0 ) rotate( 45deg );
                                }
                                &:after{
                                    transform: translate( -2px , 0 ) rotate( -45deg );
                                }
                            }
                            &~h6{
                                i{
                                    &:before{
                                        content: "\F156";
                                        display: inline-block;
                                        font: normal normal normal 24px/1 "Material Design Icons";
                                        font-size: inherit;
                                        text-rendering: auto;
                                        line-height: inherit;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                    }
                                }
                            }
                        }
                    }
                    @keyframes flipdown{
                        0%{
                            opacity: 0;
                            transform-origin: top center;
                            transform: rotateX(-90deg);
                        }
                        5%{
                            opacity: 1;
                        }
                        80%{
                            transform: rotateX(8deg);
                        }
                        83%{
                            transform: rotateX(6deg);
                        }
                        92%{
                            transform: rotateX(-3deg);
                        }
                        100%{
                            transform-origin: top center;
                            transform: rotateX(0deg);
                        }
                    }
                }
            }
        }
        @media (min-width: 992px){
            ul{
                list-style: none;
                li{
                    &.tainacan-side{
                        margin-right: 5vw;
                        &:last-child{
                            margin-right: 0;
                        }
                        input[type=checkbox]{
                            display: none;
                        }
                        ul{
                            &:nth-of-type(1) {
                                margin: 5px 0 0.5em 0;
                            }
                        }
                        > ul{
                            width: 10vw;
                            padding-left: 0;
                            li{
                                &:nth-of-type(n + 6){
                                    display: none;
                                }
                                .children{
                                    padding-left: 0;
                                }
                            }
                        }
                        div > ul{
                            width: 10vw;
                            padding-left: 0;
                            li{
                                &.menu-item{
                                    .sub-menu{
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                        .textwidget{
                            max-width: 200px;
                        }
                        .gallery{
                            display: grid;
                            max-height: 485px;
                            overflow: hidden;
                            .gallery-item{
                                margin: 5px 0 !important;
                            }
                            br{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .tainacan-side{
        .textwidget, .recentcomments, .calendar_wrap, ul li, div li, div, ul, li {
            color: #898d8f;
        }
    }
}

@media only screen and (min-width: 1800px){
    .max-large{
        max-width: 1400px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .navbar{
        > .pr-lg-5{
            padding-left: 2.6rem;
        }
    }
    /* #comments {
        #form-comment{
            textarea {
                width: 34.5vw !important;
            }
        }
    } */
}