.margin-pagination{
    border-width: 2px !important;
    font-size: 12px;
    font-weight: 400;
    color: #898d8f;
    .pagination{
        a:nth-last-child(1){
            white-space: nowrap;
        }
        li{
            a{
                color: #898d8f;
            }
        }
        .active{
            a{
                color: #298596;
            }
        }
        @media only screen and (max-width: 576px){
            flex-wrap: wrap;
        }
    }
    .view-items{
        white-space: nowrap;
    }
    @media screen {
        @media (max-width: 592px){
            margin-left: 3rem;
            margin-right: 3rem;
        }
        @media (min-width: 768px){
            margin-left: 6rem;
            margin-right: 6rem;
        }
    }
}