.tainacan-single-post {
    header {
        .header-meta {
            color: #898d8f !important;
            font: {
                size: 0.75rem;
                weight: 400;
            }
            align-items: center;
            @media screen {
                @media (min-width: 768px){
                    margin-top: -10px;
                }
            }
            img {
                height: 24px;
                padding-left: 1rem;
            }
            .pagination {
                margin: 0 0.1rem;
                a:hover {
                    text-decoration: none;
                }
                span {
                    display: none;
                }
                i.tainacan-icon-viewtable::before {
                    transform: scale(0.6);
                }
            }
        }
        img{
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    header.tainacan-content {
        min-height: auto;
    }
    .tainacan-content {
        font-size: 1rem;
        min-height: 32.5vh;
        
        @media only screen and (min-height: 1080px) {
            min-height: 50vh;
        }
    
        > p:last-child::after {
            display: block;
            clear: both;
            content: "";
        }
        footer {
            font-size: 0.875rem;
            color: #000;
            font-weight: 400;
        }
    }
    .tainacan-content>* {
        margin-top: 28px;
        margin-bottom: 28px;
    }
}
.tainacan-heading-section-pattern-pattern {
    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 0px !important;
    }
    p {
        font-style: italic;
        margin-bottom: 0 !important;
    }
    hr.wp-block-separator:not(.is-style-wide) {
        margin-left: 0;
        margin-top: 0.5rem;
        max-width: 200px;
    }
    hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
        border-width: 2px;
        height: 3px;
    }
}