.tainacan-single-post{
    /* @media screen {
        @media (min-width: 768px) {
            padding: 0 2rem;
        }
    } */
    article{
        header{
            .header-meta{
                color: #898d8f !important;
                font: {
                    size: 12px;
                    weight: 400;
                }
                @media screen {
                    @media (min-width: 768px){
                        margin-top: -10px;
                    }
                }
            }
            img{
                max-width: 100%;
                height: auto;
            }
        }
        .tainacan-content {
            font-size: 1rem;
            &h1, &h2{
                font-size: 1rem;
            }
            img {
                max-width: 100%;
            }
            .wp-block-cover-image{
                width: 99.5vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;  
                @media only screen and (max-width: 1200px){
                    width: 100vw;
                }
            }
            .wp-block-embed{
                iframe{
                    width: 100%;
                }
            }
            .wp-block-gallery{
                .blocks-gallery-item{
                    figure{
                        figcaption{
                            padding: 10px 10px 5px;
                            background: #fff;
                            color: #000;
                        }
                    }
                }
                @media (max-width: 768px){
                    padding-left: 0;
                }
            }
            .wp-block-pullquote{
                border-top: 1px solid #cbcbcb;
                border-bottom: 1px solid #cbcbcb;
            }
            .wp-caption, .gallery-caption {
                font-size: 13px;
                max-width: 100%;
                margin-top: 1em;
                margin-bottom: 1.5em;
                .wp-caption-text {
                    margin: 0.8075em 0;
                }
                img[class*="wp-image-"]{
                    height: auto;
                    margin: 2% 0;
                    width: 100%;
                }
            }
            &.single-item-collection{
                .single-item-collection--document{
                    iframe, img.attachment-large {
                        width: 100%;
                        height: auto;
                    }
                    iframe {
                        @media only screen and (min-width: 768px){
                            min-height: 600px;
                        }
                        @media only screen and (max-width: 576px){
                            min-height: 429px;
                        }
                    }
                }
                .single-item-collection--information{
                    .card{
                        .item-card--thumbnail{
                            height: auto;
                            width: 250px;
                        }
                        h3{
                            color: #000;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        p {
                            color: #000;
                            font-size: 12px;
                        }
                        .item-card-link--sharing{
                            margin-right: 0.5rem;
                        }
                    }
                    .s-item-collection--metadata{
                        div {
                            -webkit-column-break-inside: avoid;
                            -moz-column-break-inside:avoid;
                            -moz-page-break-inside:avoid;
                            page-break-inside: avoid;
                            break-inside: avoid-column;
                        }
                        @media only screen and (min-width: 768px){
                            -moz-column-count: 2;
                            -moz-column-gap: 0;
                            -moz-column-rule: none;
                            -webkit-column-count: 2;
                            -webkit-column-gap: 0;
                            -webkit-column-rule: none;
                            column-count: 2;
                            column-gap: 0;
                            column-rule: none;
                        }
                        h3{
                            color: #000;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        p{
                            color: #000;
                            word-wrap: break-word;
                            font: {
                                size: 12px;
                                weight: 400;
                            }
                        }
                    }
                }
            }
        }
        footer{
            font-size: 14px;
            color: #000;
            font-weight: 400;
            a{
                font-weight: 400;
            }
        }
    }
}