.tainacan-single-post{
    /* @media screen {
        @media (min-width: 768px) {
            padding: 0 2rem;
        }
    } */
    article{
        header{
            .header-meta{
                color: #898d8f !important;
                font: {
                    size: 12px;
                    weight: 400;
                }
                align-items: center;
                @media screen {
                    @media (min-width: 768px){
                        margin-top: -10px;
                    }
                }
                img {
                    height: 24px;
                    padding-left: 1rem;
                }
            }
            img{
                max-width: 100%;
                height: auto;
            }
        }
        .title-content-items {
            font-size: 18px;
            font-weight: 500;
            color: #338591;
            margin-left: 4.16666666667%;
            margin-bottom: 2rem;
        }
        .tainacan-content {
            font-size: 1rem;
            min-height: 32.5vh;
            @media only screen and (min-height: 1080px) {
                min-height: 50vh;
            }
            &h1, &h2{
                font-size: 1rem;
            }
            h1 {
                color: #298596;
                font-size: 18px;
                font-weight: 600;
            }
            h2 {
                color: #000;
                font-size: 18px;
                font-weight: 600;
            }
            h3 {
                color: #000;
                font-size: 16px;
                font-weight: 600;
            }
            h4 {
                color: #898d8f;
                font-size: 16px;
                font-style: italic;
            }
            h5 {
                color: #000;
                font-size: 14px;
                font-weight: 600;
            }
            h6 {
                color: #298596;
                font-size: 14px;
                font-weight: 400;
            }
            pre:not(.wp-block-code) {
                color: #898d8f;
                font-size: 16px;
                font-weight: 400;
                white-space: pre-line;
            }
            .wp-block-code {
                code {
                    font-size: 87.5%;
                    color: #e83e8c;
                    word-break: break-word;
                }
            }
            blockquote:not(.wp-block-pullquote), .wp-block-quote {
                border-left:2px solid #298596;
                margin-left: 4.16666666667%;
                margin-right: 4.16666666667%;
                padding: 1rem;
                p {
                    color: #898d8f;
                    font-size: 22px;
                    font-weight: 500;
                }
                cite {
                    color: #298596;
                    float: right;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            .wp-block-separator {
                border-color: #cbcbcb;
                width: 50%;
                &.is-style-wide{
                    width: 100%;
                }
                &.is-style-dots{
                    &::before {
                        color: #cbcbcb;
                        font-weight: 600;
                    }
                }
            }
            ul {
                font-size: 16px;
                font-weight: 400;
                color: #000;
            }
            .table {
                thead {
                    border-bottom: 1px solid #cbcbcb;
                    color: #898d8f;
                    font-weight: 400;
                    font-size: 12px;
                }
                tbody {
                    font-size: 12px;
                    font-weight: 400;
                    color: #000;
                }
            }
            dl {
                dd {
                    margin-left: 2rem;
                }
            }
            address {
                font-size: 14px;
                font-style: italic;
            }
            p {
                code {
                    border-radius: 5px; 
                    -moz-border-radius: 5px; 
                    -webkit-border-radius: 5px; 
                    border: 1px solid #BCBEC0;
                    padding: 2px;
                    font-size:12px;
                }
            }
            img[class*="align"], 
            img[class*="wp-image-"], 
            .gallery {
                .gallery-icon img {
                    padding: 6px;
                    max-width: 97.5%;
                    max-width: calc( 100% - 14px );
                }
            }
            img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
                height: auto;
            }
            h1, h2, h3, h4, h5, h6 {
                padding-top: .4rem;
                &::after{
                    display: block;
                    clear: both;
                    content: "";
                }
            }
            .alignleft {
                float:left;
                margin: 0 1em 1em 0;
            }
            .alignright {
                float:right;
                margin: 0 0 1em 1em;
            }
            @media only screen and (max-width: 576px) {
                .alignleft, .alignright {
                    float: none;
                    text-align: center;
                    margin: 0;
                    img {
                        width: 275px;
                    }
                }
            }
            img {
                padding: 6px;
                max-width: calc( 100% - 14px );
                &.alignleft {
                    float: left;
                    margin-right: 1.625em;
                    margin-bottom: 1.625em;
                    @media only screen and (max-width: 576px) {
                        display: block;
                        float: none;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                &.alignright {
                    float: right;
                    margin-left: 1.625em;
                    @media only screen and (max-width: 576px) {
                        display: block;
                        float: none;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                &.size-full{
                    max-width: 97.5%;
                    width: auto;
                    height: auto;
                }
                &.aligncenter {
                    clear: both;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            figure {
                margin: 16px 40px;
            }
            .wp-block-cover-image{
                width: 99.5vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;  
                @media only screen and (max-width: 1200px){
                    width: 100vw;
                }
            }
            .wp-block-embed{
                iframe{
                    width: 100%;
                }
            }
            .wp-block-gallery{
                .blocks-gallery-item{
                    figure{
                        margin: 0 !important;
                        figcaption{
                            padding: 10px 10px 5px;
                            background: #fff;
                            color: #000;
                        }
                    }
                    img {
                        height: 100% !important;
                    }
                }
                @media (max-width: 768px){
                    padding-left: 0;
                }
            }
            .wp-block-image {
                &.is-resized {
                    img {
                        max-width: none !important;
                    }
                }
                text-align: center;
                figcaption{
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            .wp-block-pullquote{
                border-top: 1px solid #cbcbcb;
                border-bottom: 1px solid #cbcbcb;
                p {
                    color: #298596;
                    font: {
                        size: 22px;
                        weight: 500;
                    }
                }
                cite {
                    font-size: 16px;
                    color: #898d8f;
                }
            }
            .wp-caption, .gallery-caption {
                font-size: 13px;
                max-width: 100%;
                margin-top: 1em;
                margin-bottom: 1.5em;
                .wp-caption-text {
                    margin: 0.8075em 0;
                }
                img[class*="wp-image-"]{
                    height: auto;
                    margin: 2% 0;
                    width: 100%;
                }
            }
            > p:last-child::after {
                display: block;
                clear: both;
                content: "";
            }
            &.single-item-collection{
                .single-item-collection--document{
                    font : {
                        size: 14px;
                        weight: 400;
                    }
                    color: black;
                    > iframe, img.attachment-large {
                        display: block;
                        height: auto;
                        margin: 0 auto;
                    }
                    > iframe {
                        @media only screen and (min-width: 768px){
                            min-height: 600px;
                        }
                        @media only screen and (max-width: 576px){
                            min-height: 429px;
                        }
                    }
                    .tainacan-embed-container{
                        @media only screen and (min-width: 768px){
                            iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .single-item-collection--attachments {
                    .single-item-collection--attachments-img {
                        margin: 10px;
                        img {
                            width: 125px;
                            height: 125px;
                        }
                    }
                    .single-item-collection--attachments-prev {
                        left: -50px;
                    }
                    .single-item-collection--attachments-next {
                        right: -10px;
                        @media only screen and (min-width: 1500px) {
                            right: -25px;
                        }
                    }
                    .single-item-collection--attachments-prev, .single-item-collection--attachments-next {
                        position: absolute;
                        display: block;
                        height: 33px;
                        width: 45px;
                        line-height: 0px;
                        font-size: 60px;
                        color: #298596;
                        cursor: pointer;
                        background: transparent;
                        top: 50%;
                        -webkit-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        padding: 0;
                        border: none;
                        outline: none;
                    }

                }
                .single-item-collection--information{
                    .card{
                        .item-card--thumbnail{
                            height: auto;
                            width: 250px;
                            padding: 0;
                        }
                        h3{
                            color: #000;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        p {
                            color: #000;
                            font-size: 12px;
                        }
                        .item-card-link--sharing{
                            margin-right: 0.5rem;
                            img {
                                padding: 0;
                                max-width: 100%;
                                width: 30px;
                            }
                        }
                    }
                    .s-item-collection--metadata{
                        div {
                            -webkit-column-break-inside: avoid;
                            -moz-column-break-inside:avoid;
                            -moz-page-break-inside:avoid;
                            page-break-inside: avoid;
                            break-inside: avoid-column;
                        }
                        @media only screen and (min-width: 768px){
                            -moz-column-count: 2;
                            -moz-column-gap: 0;
                            -moz-column-rule: none;
                            -webkit-column-count: 2;
                            -webkit-column-gap: 0;
                            -webkit-column-rule: none;
                            column-count: 2;
                            column-gap: 0;
                            column-rule: none;
                        }
                        @media only screen and (min-width: 1408px){
                            -moz-column-count: 3;
                            -moz-column-gap: 7rem;
                            -moz-column-rule: none;
                            -webkit-column-count: 3;
                            -webkit-column-gap: 7rem;
                            -webkit-column-rule: none;
                            column-count: 3;
                            column-gap: 7rem;
                            column-rule: none;
                        }
                        h3{
                            color: #000;
                            font-size: 14px;
                            font-weight: 700;
                            padding-right: 1rem;
                        }
                        p{
                            color: #000;
                            word-wrap: break-word;
                            font: {
                                size: 12px;
                                weight: 400;
                            }
                        }
                    }
                }
            }
        }
        footer{
            font-size: 14px;
            color: #000;
            font-weight: 400;
            a{
                font-weight: 400;
            }
            span {
                color: #298596;
                font-weight: 300;
            }
        }
    }
}