.tainacan-single-post{
    @media screen {
        @media (min-width: 992px) {
            padding: 0 1rem 0 2rem;
        }
    }
    article{
        header{
            .header-meta{
                @media screen {
                    @media (min-width: 768px){
                        margin-top: -10px;
                    }
                }
            }
            img{
                max-width: 100%;
                height: auto;
            }
        }
        main{
            &.tainacan-content {
                font-size: 1rem;
                &h1, &h2{
                    font-size: 1rem;
                }
                img {
                    max-width: 100%;
                }
                .wp-block-cover-image{
                    width: 100vw;
                    position: relative;
                    left: 50%;
                    right: 50%;
                    margin-left: -50vw;
                    margin-right: -50vw;  
                }
                .wp-block-embed{
                    iframe{
                        width: 100%;
                    }
                }
                .wp-block-gallery{
                    @media (max-width: 768px){
                        padding-left: 0;
                    }
                }
            }
        }
    }
}