#sidebar{
    &.sidebar{
        background: #e5e5e57a;
        border-radius: 1rem;
        .widget{
            .widget-title{
                font-size: 14pt;
                font-weight: bold;
                color: #1d1d1b;
            }
            &.widget_recent_entries, &.widget_recent_comments{
                ul{
                    li{
                        margin-bottom: 0.3rem;
                    }
                }
            }
            &.widget_media_gallery{
                .gallery{
                    display: grid;
                    dl{
                        margin-top: 0;
                        dt{
                            img{
                                border: 0;
                            }
                        }
                    }
                    br{
                        display: none;
                    }
                }
            }
            &.widget_text{
                font-size: 12pt;
            }
            ul{
                padding-left: 0;
                li{
                    display: block;
                    margin-bottom: 0.3rem;
                }
            }
            form{
                .input-group-append{
                    button{
                        &:hover{
                            color: inherit;
                        }
                    }
                }
            }
            #tainacan-search{
                font-size: 14pt;
                color: #898d8f;
            }
        }
    }
}