#sidebar{
    &.sidebar{
        .widget{
            .widget-title{
                font-size: 14px;
                font-weight: bold;
                color: #1d1d1b;
            }
            &.widget_recent_entries, &.widget_recent_comments{
                ul{
                    li{
                        margin-bottom: 0.3rem;
                    }
                }
            }
            &.widget_media_gallery{
                .gallery{
                    display: grid;
                    dl{
                        margin-top: 0;
                        dt{
                            img{
                                border: 0;
                            }
                        }
                    }
                    br{
                        display: none;
                    }
                }
            }
            &.widget_text{
                font-size: 12px;
            }
            ul{
                padding-left: 0;
                li{
                    display: block;
                    margin-bottom: 0.3rem;
                    a{
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
            form{
                .input-group-append{
                    button{
                        height: 27px;
                        padding: 0 5px 0 0px;
                        &:hover{
                            color: inherit;
                        }
                        i{
                            color: #01295c;
                        }
                    }
                }
            }
            #tainacan-search{
                font-size: 14px;
                color: #898d8f;
                height: 27px;
            }
        }
    }
}