.tainacan-collection-list--simple-search{
    .dropdown {
        #dropdownMenuSorting, #dropdownMenuViewMode {
            font-size: 0.875rem;
            &:focus{
                box-shadow: none;
            }
            &::after {
                color: #298596;
            }
        }
        &.dropdown-sorting{
            button{
                padding-left: 0;
            }
        }
        &.dropdown-viewMode {
            @media only screen and (max-width: 576px) {
                .show{
                    transform: translate3d(-94px, 35px, 0px) !important;
                    left: 0 !important;
                }
            }
        }
        .dropdown-menu {
            font-size: 0.875rem;
            a {
                &:hover{
                    background-color: #c1dae0;
                }
                &.active {
                    background-color: #c1dae0;
                }
            }
        }
    }

    a{
        color: #898d8f;
        &:hover{
            color: #898d8f;
        }
        &.active {
            color: #cbcbcb;
            &:hover{
                color: #cbcbcb;
            }
        }
        &:focus{
            box-shadow: none;
        }
    }
    #tainacan-collection-search {
        input{
            border-color: #cbcbcb !important;
            &:focus{
                box-shadow: none;
                border-right: none;
            }
            &::placeholder{
                font-size: 0.6875rem;
                color: #898d8f;
            }
        }
        button{
            border-color: #cbcbcb !important;
            line-height: 0.5;
            &:focus{
                box-shadow: none;
            }
        }
    }
}