.tainacan-img-dest{
    .carousel {
        .carousel-control-prev{
            .prev-play{
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        i{
            font-size: 45px;
        }
    }
}
.tainacan-estatisticas{
    #collectionGraph{
        height: 338px;
        @media only screen and (max-width: 768px){
            height: 260px;
        }
    }
}