.tainacan-modal,
.theme-items-list,
.vue-tooltip-theme {
    --tainacan-secondary: var(--tainacan-interface--link-color, #187181);
    --tainacan-primary: var(--tainacan-interface--tooltip-color, #e6f6f8);
    --tainacan-input-border-radius: 2px;
    --tainacan-button-border-radius: 3px;
    --tainacan-modal-border-radius: 2px;
    --tainacan-dropdownmenu-border-radius: 0px;
    --tainacan-item-border-radius: 0px;
}

/* Tweaks to still display a lateral padding after Tainacan 1.0.0 changes */
body > .tainacan-modal #filters-modal .modal-content,
body > .theme-items-list #filters-modal .modal-content {
    padding-left: 4.16666666667vw;
}
body > .theme-items-list .search-control {
    padding-left: 4.16666666667vw;
    padding-right: 4.16666666667vw;
}
.archive .theme-items-list #filters-modal .modal-content {
    padding: 20px min(4.1666667vw, 2rem);
}