.tainacan-grid-container {
    min-height: 50vh;
    padding: 30px 4.166666667%;

    .row { justify-content: space-around }
    .col { flex-grow: 0; }

    .tainacan-grid-item {
        max-width: 258px;
        margin: 12px 16px 24px 16px;
        text-align: center;
        display: block;
        text-decoration: none !important;

        img {
            width: 258px;
            height: auto;
            border-radius: 2px;
        }

        &:hover {
            background-color: #e5e5e5;
            p.metadata-title { text-decoration: none !important; }
        }

        p.metadata-title {
            flex-shrink: 0;
            font-size: 0.875rem;
            margin-bottom: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0.75rem 1.5rem;
            text-align: left;
            color: #1d1d1d;
            text-decoration: none !important;
        }    
    
    }
}


