.tainacan-masonry-view {
    min-height: 50vh;
    .grid-item{
        .card{
            img{
                width: 247.5px;
                height: auto;
            }
            &:hover{
                background-color: #eaeaea;
            }
            /* &:selected{
                background-color: #e6f6f8;
            } */
            .card-body{
                padding: 0.85rem;
                .card-title{
                    a{
                        color: #000 !important;
                        font-weight: 400;
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
    /* margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 0.5em;

    .gutter-sizer { width: 4%; }
    
    .grid-sizer, .grid-item{ 
        width: 20%; 
        @media only screen and (max-width: 700px){
            width: 100%;
        }
    }
    
    .grid-item{ 
        margin-bottom: 10px; 
        .card{
            border: none;
            img{
            }
        }
    } */
}