.tainacan-books-container {
    padding: 30px 4.166666667%;
    background-color: #f5f5f5;
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;

    .row { justify-content: center; }
    .col { 
        display: flex; 
        justify-content: center;
        flex-basis: auto;
        margin-bottom: 70px;
        align-items: center;
    }

    /*
    *  I'd recommend using Modernized to detect 3d transform support
    *  then add a "supports-transform-3d" class 
    */

    .tainacan-book {
        position: relative;
        -moz-perspective: 100px;
        -webkit-perspective-origin-x: 100px;
        -webkit-perspective-origin-y: 100px;
        transform: rotateY(-3deg);
        -moz-transform: rotateY(-3deg);
        -webkit-transform: rotateY(-3deg);
        box-shadow: none;
        margin: 0;
        transition: -moz-transform 0.2s, -webkit-transform 0.2s, transform 0.2s;

        &:hover {
            -moz-transform: rotateY(-10deg);
            -webkit-transform: rotateY(-10deg);
        
            &:after {
                width: 4.0%;
            }
            &::before {
                left: 3.6%;
            }
            .metadata-title {
                opacity: 1;
            } 
        }
    }

    .tainacan-book img {
        vertical-align: middle;
        width: 258px;
        height: auto;
        position: relative;
        max-width: 100%;
        border-radius: 4px 1px 1px 10px;
    }

    .tainacan-book:before,
    .tainacan-book:after {
        position: absolute;
        top: 2%;
        height: 96%;
        content: ' ';
        z-index: -1;
    }

    .tainacan-book:before {
        width: 100%;
        left: 3.5%;
        background-color: #333;
        box-shadow: 0px 2px 10px #333;
        transition: left 0.2s;
    }

    .tainacan-book:after {
        width: 3.5%;
        left: 99%;
        background-color: #EFEFEF;
        box-shadow: inset 2px 3px 5px #999;
        -moz-transform: rotateY(20deg);
        -webkit-transform: perspective(100) rotateY(20deg);
        transition: width 0.2s;
    }

    // img {
    //     width: 258px;
    //     height: auto;
    //     border-radius: 2px;
    // }


    .metadata-title {
        flex-shrink: 0;
        border-radius: 5px;
        font-size: 0.875rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0.5rem;
        text-align: center;
        position: absolute;
        opacity: 0;
        background-color: rgba(255,255,255,0.45);
        transition: opacity 0.5s;
        left: 0;
        right: 0;
        z-index: -3;
        margin: 8px 10px;
        border: 1px solid #e3e3e3;
    }  

}


