.tainacan-grid-container {
    min-height: 200px;
    padding: 30px 4.166666667%;

    .row { justify-content: center; }
    .col { flex-grow: 0; }

    .tainacan-grid {
        padding: 12px 24px 24px 24px;
        text-align: center;

        img {
            width: 258px;
            height: auto;
            border-radius: 2px;
        }

        .metadata-title {
            flex-shrink: 0;
            font-size: 0.875rem;
            margin-bottom: 0.875rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0.75rem 1.5rem;
            text-align: left;
        }    
    
    }
}


