.tainacan-masonry-view {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 0.5em;

    .gutter-sizer { width: 4%; }
    
    .grid-sizer, .grid-item{ 
        width: 20%; 
        @media only screen and (max-width: 700px){
            width: 100%;
        }
    }
    
    .grid-item{ 
        margin-bottom: 10px; 
        .card{
            border: none;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}