.tainacan-profile-container {
    padding: 30px 4.166666667%;

    .tainacan-profile {
        padding: 12px;
        margin: 24px;
        border: 1px solid #e3e3e3;
        background: #f9f9f9;
        border-radius: 5px;

        &:hover {
            .media .media-body {
                .metadata-title,
                .metadata-label,
                .metadata-value {
                    white-space: normal;
                }
            }
        }

        img {
            width: 130px;
            height: auto;
            border-radius: 70px;
        }
        .media {
            .media-body {
                flex: 1;
                font-size: 0.6875rem;
                color: gray;
                overflow: hidden;

                .metadata-title {
                    flex-shrink: 0;
                    font-size: 0.875rem;
                    margin-bottom: 0.875rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            
                .metadata-label {
                    font-size: 0.75rem;
                    line-height: 1.0;
                    margin-bottom: 0.2rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .metadata-value {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
   
            }
        }
    
    
    }
}


