.tainacan-frame-container {
    min-height: 50vh;
    padding: 30px 4.166666667%;
    background-color: #f5f5f5;

    .row { 
        justify-content: space-around;
        align-items: center;
    }
    .col { flex-grow: 0; }

    .tainacan-frame {
        padding: 12px 12px 16px 12px;
        text-align: center;

        .frame {
            background: black;
            box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.4);
            padding: 12px;

            &:hover .art::before {
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5) inset;
            }
        }
        
        .mat {
            background: white;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) inset;
        }
        
        .art {
            position: relative;
            
        }
        .art::before {
            box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5) inset;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 2px;
            transition: box-shadow 0.2s;
        }
        
        .art img {
            width: 100%;
            width: 258px;
            height: auto;
            border-radius: 2px;
        }

        .metadata-title {
            flex-shrink: 0;
            font-size: 0.875rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0.5rem 0.75rem;
            text-align: center;
            display: inline-block;
            background: #fff;
            margin: 14px 8px 8px 8px;
            box-shadow: 0px 1px 3px #ddd;
            border: 1px solid #dedede;
        }    
    
    }
}


