.tainacan-polaroid-container {
    min-height: 200px;
    padding: 30px 4.166666667%;
    background-color: #f5f5f5;

    .row { justify-content: space-around; }
    .col { 
        flex-grow: 0; 
        &:nth-of-type(odd) {
            transform: rotate(0.5deg);    
        }
        &:nth-of-type(even) {
            transform: rotate(-1.0deg);    
        }
        &:nth-of-type(3n+0) {
            transform: rotate(1.0deg);    
        }
        &:nth-of-type(7n+0) {
            transform: rotate(-0.5deg);    
        }
    }

    .tainacan-polaroid {
        padding: 16px;
        text-align: center;
        background-color: white;
        box-shadow: 0px 2px 14px -8px #333;
        margin: 16px;
        transition: box-shadow 0.1s;

        &:hover {
            box-shadow: 0px 3px 16px -7px #333;
        }

        img {
            width: 258px;
            height: auto;
            margin-bottom: 0.75rem;
        }

        .metadata-title {
            flex-shrink: 0;
            font-size: 0.875rem;
            margin-bottom: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-bottom: 1.0rem;
            text-align: center;
        }   
        .list-metadata {
            flex: 1;
            font-size: 0.6875rem;
            color: gray;
            overflow: hidden;
            display: grid;
        
            .metadata-label {
                font-size: 0.75rem;
                line-height: 1.0;
                margin-bottom: 0.2rem;
            }

            .metadata-value {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

        } 
    
    }
}


