.tainacan-albums-container {
    min-height: 200px;
    padding: 30px 4.166666667%;
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;

    .row { justify-content: center; }
    .col { 
        display: flex; 
        justify-content: center;
        flex-basis: auto;
        margin: 0px;
        align-items: center;
    }

    .tainacan-album {
        width: 276px;
        padding: 24px;
        text-align: center;

        &:hover {
            .metadata-title {
                opacity: 1;
            } 
            .cd {
                -webkit-transform:  translateX(80px) rotate(185deg);
                -moz-transform:  translateX(50px) rotate(185deg);
                -ms-transform:  translateX(50px) rotate(185deg);
                -o-transform:  translateX(50px) rotate(185deg);
                transform:  translateX(50px) rotate(185deg);
                box-shadow: 2px 0px 15px -6px #111;
            }
            img {
                box-shadow: 3px 5px 19px -8px #111;
            }
        }

        img {
            width: 228px;
            height: 228px;
            border-radius: 4px;
            box-shadow: 0px 5px 18px -8px #111;
            z-index: 9;
            position: relative;
            transition: box-shadow 0.2s;
        }
        .cd {
            position:absolute;
            width: 218px;
            height: 218px;
            z-index: 0;
            display: block;
            -webkit-transition: all .25s ease-out;
            transition: all .25s ease-out;
            background-size: cover;
            border-radius: 150px;
            margin: 5px;
            background-blend-mode: multiply;
            background-color: #ccc;
            box-shadow: 0px 0px 0px 0px #111;
        }
        
        .metadata-title {
            flex-shrink: 0;
            border-radius: 5px;
            font-size: 0.875rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0.5rem;
            text-align: center;
            position: relative;
            opacity: 0;
            background-color: rgba(255,255,255,0.45);
            transition: opacity 0.5s;
            left: 0;
            right: 0;
            z-index: 0;
            margin: 10px 24px;
            border: 1px solid #e3e3e3;
        }  
    }

}


