.editor-styles-wrapper {
    background: white;
}
.edit-post-visual-editor.editor-styles-wrapper,
.components-modal__screen-overlay {

    font-family: 'Roboto', sans-serif !important;

    // Editor Block list side spacing
    .editor-block-list__layout,
    .block-editor-block-list__layout {
        padding-left: 4.1666667%;
        padding-right: 4.1666667%;
    }
    .editor-writing-flow__click-redirect {
        width: auto;
    }
    // Inner blocks do not need all that spacing,
    // otherwise they won't match their theme result
    .editor-inner-blocks,
    .block-editor-inner-blocks,
    .editor-inner-blocks>.editor-block-list__layout,
    .block-editor-inner-blocks>.block-editor-block-list__layout  {
        padding-left: 0;
        padding-right: 0;

        .wp-block {
            margin-right: 4.1666667%;
            margin-left: 4.1666667%;
        }
    }

    /* Main column width */
    .wp-block {
        max-width: 1400px;
        margin-left: 8.3333333%;
        margin-right: 8.3333333%; 
    }

    /* Width of "wide" blocks */
    .wp-block[data-align="wide"] {
        margin-left: auto;
        margin-right: auto;
    }

    /* Width of "full" blocks */
    .wp-block[data-align="full"] {
        max-width: 109.18%;// calc(100% + 16.6666667%);
        width: 109.18%; // calc(100% + 16.6666667%);
        margin-left: -4.59%; //calc(-8.3333333%);
        margin-right: -4.59%; //-8.3333333%;
    }

    /* Width of "full" blocks from WP 5.5 on, as it adds 10px padding to container */
    .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
        max-width: calc(109.18% + 20px);
        width: calc(109.18% + 20px);
        margin-left: calc(-4.59% - 10px); //calc(-8.3333333%);
        margin-right: calc(-4.59% - 10px); //-8.3333333%;
    }

    /* Columns */
    .wp-block-columns {
        padding: 0;
    }
    .wp-block-columns>.editor-inner-blocks >.editor-block-list__layout> [data-type="core/column"]:not(:last-child),
    .wp-block-columns>.block-editor-inner-blocks >.block-editor-block-list__layout> [data-type="core/column"]:not(:last-child) {
        margin-right: 2.0833333%; // Half column
    }
    .wp-block-columns>.editor-inner-blocks >.editor-block-list__layout> [data-type="core/column"]:not(:first-child),
    .wp-block-columns>.block-editor-inner-blocks >.block-editor-block-list__layout> [data-type="core/column"]:not(:first-child) {
        margin-left: 2.0833333%; // Half column
    }
    .wp-block-columns>.editor-inner-blocks >.editor-block-list__layout> [data-type="core/column"],
    .wp-block-columns>.block-editor-inner-blocks >.block-editor-block-list__layout> [data-type="core/column"],
    .wp-block-columns>.wp-block-column[data-type="core/column"] {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .wp-block-columns>.wp-block-column[data-type="core/column"]:not(:first-child) { 
        padding-left: 2.0833333%; // Half column
    }
    .wp-block-columns>.wp-block-column[data-type="core/column"]:not(:first-child) { 
        padding-right: 2.0833333%; // Half column
    }
    .wp-block-columns>.wp-block-column[data-type="core/column"]>.wp-block {
        margin-left: 0;
        margin-right: 0;
    }

    /* Post title */
    .editor-post-title {
        margin: 0 4.1666667% 3em 4.1666667%;
        padding: 0;
        border-bottom: 2px solid #298596;
        
        &>.wp-block {
            margin: 0 14px !important;
        }
    }
    .wp-block.editor-post-title__block,
    .editor-post-title__block .editor-post-title__input{
        font-size: 1.25rem;
        font-family: 'Roboto', sans-serif;   
        textarea {
            padding: 3px 6px;
            color: #298596; 
        }
    }

    /* Heading */
    .wp-block-heading h1,
    .wp-block[data-type="core/heading"] h1,
    h1.wp-block[data-type="core/heading"] {
        font-size: 1.125rem;
        color: #298596;
    }
    .wp-block-heading h2,
    .wp-block[data-type="core/heading"] h2,
    h2.wp-block[data-type="core/heading"] {
        font-size: 1.125rem;
    }
    .wp-block-heading h3,
    .wp-block[data-type="core/heading"] h3,
    h3.wp-block[data-type="core/heading"] {
        font-size: 1rem;
    }
    .wp-block-heading h4,
    .wp-block[data-type="core/heading"] h4,
    h4.wp-block[data-type="core/heading"] {
        font-size: 1rem;
        font-style: italic;
        font-weight: normal;
        color: #555758;
    }
    .wp-block-heading h5,
    .wp-block[data-type="core/heading"] h5,
    h5.wp-block[data-type="core/heading"] {
        font-size: 0.875rem;
    }
    .wp-block-heading h5,
    .wp-block[data-type="core/heading"] h5,
    h5.wp-block[data-type="core/heading"] {
        font-size: 0.875rem;
        font-style: italic;
        font-weight: normal;
        color: #555758;
    }

    /* Links */
    a { text-decoration: none;}

    /* Buttons */
    .components-button.is-button {
        border: none;
        box-shadow: none;
        border-radius: 6px;
        height: auto;
        text-shadow: none;
        font-size: 0.875rem;

        &:active:not(.is-default) {
            color: white;
        }
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
    .components-button.is-button:not(.is-small) {
        padding: 5px 12px;
        line-height: 1.2rem;
    }
    .components-button.is-button.is-primary {
        background-color: #298596;
    }
    .components-button.is-button.is-default {
        background: white;
        border: 1px solid #555758;
        color: #298596;
    }
    .components-icon-button:hover:not(.is-default),
    .components-icon-button:focus:not(.is-default),
    .components-icon-button:active:not(.is-default) {
        box-shadow: none !important;
        background: none !important;
        border: none !important;
    }
    .components-icon-button.is-default:hover,
    .components-icon-button.is-default:focus,
    .components-icon-button.is-default:active {
        box-shadow: none !important;
        background: white !important;
        border: 1px solid #555758 !important;
    }

    .wp-block-button__link {
        background-color: #298596;
        border-radius: 6px;
        font-size: 0.875rem;
        padding: 6px 18px;
    }
    .is-style-outline .wp-block-button__link {
        background-color: white;
        border: 1px solid #555758;
        color: #298596;
    }
    .is-style-squared .wp-block-button__link {
        border-radius: 0px;
    }

    /* Text input */
    .components-modal__content .input-control, 
    .components-modal__content input[type="date"], 
    .components-modal__content input[type="datetime-local"], 
    .components-modal__content input[type="datetime"], 
    .components-modal__content input[type="email"], 
    .components-modal__content input[type="month"], 
    .components-modal__content input[type="number"], 
    .components-modal__content input[type="password"],
    .components-modal__content input[type="search"], 
    .components-modal__content input[type="tel"], 
    .components-modal__content input[type="text"], 
    .components-modal__content input[type="time"], 
    .components-modal__content input[type="url"], 
    .components-modal__content input[type="week"], 
    .components-modal__content select, 
    .components-modal__content textarea, 
    .components-popover .input-control,
    .components-popover input[type="date"], 
    .components-popover input[type="datetime-local"], 
    .components-popover input[type="datetime"], 
    .components-popover input[type="email"], 
    .components-popover input[type="month"], 
    .components-popover input[type="number"], 
    .components-popover input[type="password"],
    .components-popover input[type="search"], 
    .components-popover input[type="tel"], 
    .components-popover input[type="text"], 
    .components-popover input[type="time"], 
    .components-popover input[type="url"], 
    .components-popover input[type="week"], 
    .components-popover select, 
    .components-popover textarea {
        border-radius: 0;
        border-color: #cbcbcb;
        padding: 4px 8px;

        &:focus {
            border: 1px solid #555758;
            box-shadow: none;
        }
    }

    /* Labels */
    .components-base-control__label {
        font-weight: 600;
        color: black;
    }

    /* Modal container */
    .components-modal__content {
        padding: 32px;
        overflow: hidden;
    }

    /* Modal Header */
    .components-modal__header {
        height: 32px;
        margin: 0 12px 32px 12px;
        padding: 0;
        border-bottom: 1px solid #298596;

        .components-modal__header-heading,
        h1 {
            font-size: 1.125rem;
            font-weight: 500;
            color: #555758;
        }
    }

    /* Checkboxes and Radio Buttons*/
    .components-modal__content input[type="checkbox"]:checked::before, 
    .components-popover input[type="checkbox"]:checked::before, 
    .editor-block-list__block input[type="checkbox"]:checked::before,
    .components-modal__content input[type="radio"]:checked::before, 
    .components-popover input[type="radio"]:checked::before, 
    .editor-block-list__block input[type="radio"]:checked::before {
        color: black;
    }
    .components-modal__content input[type="radio"]:checked::before, 
    .components-popover input[type="radio"]:checked::before, 
    .editor-block-list__block input[type="radio"]:checked::before {
        background: black;
        margin: 3px 0 0 3px;
        width: 8px;
        height: 8px;

        @media screen and (max-width: 782px) {
            margin: 4px 0 0 4px;
            width: 15px;
            height: 15px;  
        }
    }
    .components-modal__content input[type="checkbox"]:checked, 
    .components-modal__content input[type="radio"]:checked, 
    .components-popover input[type="checkbox"]:checked, 
    .components-popover input[type="radio"]:checked, 
    .editor-block-list__block input[type="checkbox"]:checked, 
    .editor-block-list__block input[type="radio"]:checked {
        background: white;
        border: 1px solid #555758;
    }
    .components-modal__content input[type="checkbox"], 
    .components-modal__content input[type="radio"], 
    .components-popover input[type="checkbox"], 
    .components-popover input[type="radio"],  
    .editor-block-list__block input[type="checkbox"], 
    .editor-block-list__block input[type="radio"] {
        border: 1px solid #555758;
    }
    .components-modal__content input[type="checkbox"]:checked:focus, 
    .components-modal__content input[type="radio"]:checked:focus, 
    .components-popover input[type="checkbox"]:checked:focus, 
    .components-popover input[type="radio"]:checked:focus, 
    .editor-block-list__block input[type="checkbox"]:checked:focus, 
    .editor-block-list__block input[type="radio"]:checked:focus,
    .components-modal__content input[type="checkbox"]:focus, 
    .components-modal__content input[type="radio"]:focus, 
    .components-popover input[type="checkbox"]:focus, 
    .components-popover input[type="radio"]:focus, 
    .editor-block-list__block input[type="checkbox"]:focus, 
    .editor-block-list__block input[type="radio"]:focus {
        box-shadow: none;
    }

    /* Blockquote */
    .wp-block-quote {
        margin: 3rem 8.33333%;
        padding: 1rem;
        color: #555758;
        font-weight: normal;
        font-size: 1rem;
    }
    .wp-block-quote.is-style-large {
        font-size: 1.375rem;
        font-family: 'Roboto', sans-serif;
    }
    .wp-block-quote:not(.is-style-large):not(.is-large) {
        border-left: 2px solid #298596;
    }
    .wp-block-quote__citation {
        font-weight: 500;
        font-size: 1rem;
        text-align: right;
        font-style: italic;
        color: #555758;
    }

    /* Pullquote */
    .wp-block-pullquote {
        border-top: 2px solid #cbcbcb;
        border-bottom: 2px solid #cbcbcb;
        padding: 1rem 0;

        .block-library-pullquote__content.editor-rich-text p {
            font-size: 1.375rem;
            color: #298596;
            font-weight: 500;
        }
        .wp-block-pullquote__citation {
            color: #555758;
            font-size: 1rem;
            font-weight: normal;
            font-style: italic;
            text-transform: none;
        }
    }

    /* Pre */
    .wp-block-preformatted pre {
        color: #555758;
        font-size: 1rem;
        font-weight: 400;
        white-space: pre-line;
    }

    /* Code */
    .wp-block-code textarea {
        color: #298596;
    }

    /* Tables */
    .wp-block-table th {
        border-bottom: 1px solid #cbcbcb;
        font-weight: normal;
        font-size: 0.75rem;
    }
    .wp-block-table td {
        border: 1px solid #f2f2f2;
        font-size: 0.875rem;
    }

    /* Tainacan Selection Modal */
    .wp-block-tainacan-modal.dynamic-modal {
        
        iframe {
            width: calc(100% + 64px);
            height: calc(100% - 104px);
            margin-left: -32px;
            margin-bottom: -4px;
        }

        .modal-footer-area {
            height: 72px;
            width: calc(100% + 64px);
            margin-left: -32px !important;
            margin-bottom: -32px !important;
            padding: 1.2rem 3rem !important;
            border-top: 1px solid #898d8f;
        }
    }
    .wp-block-tainacan-modal .modal-footer-area{
        margin: 0;
        border: none;
        padding-top: 0px;
    }
    .wp-block-tainacan-modal .modal-search-area {
        padding: 0 14px;

        .components-base-control {
            width: 100%;

            .components-base-control__field {
                display: flex;
                align-items: center;

                label{
                    flex-shrink: 0;
                    margin-right: 12px;
                }
            }
        }
    }

    /* Extra title group class, that can be added for styling special headings */
    .wp-block-group.tainacan-group-heading {
        .wp-block-heading {
            color: #298596 !important;
        }
        h1.wp-block-heading { font-size: 1.5rem; }
        h2.wp-block-heading { font-size: 1.5rem; }
        h3.wp-block-heading { font-size: 1.25rem; }
        h4.wp-block-heading { font-size: 1.125rem; }
        p.wp-block-paragraph {
            font-style: italic;
            color: #898d8f;
        }
        hr.wp-block-separator:not(.is-style-wide) {
            margin-left: 0;
            max-width: 200px;
            border-color: #298596;
        }
        hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
            border-width: 3px;
            height: 3px;
        }
    }
}