@import '_variables';

.editor-styles-wrapper {
    background: white;
    padding: 3rem 0px 0px 0px !important;
}

.editor-styles-wrapper,
.components-modal__screen-overlay {

    /* Post title */
    .edit-post-visual-editor__post-title-wrapper,
    :not(.edit-post-visual-editor__post-title-wrapper)>.editor-post-title {
        margin: 0 auto 5.35rem auto;
        padding: 0;
        max-width: calc(1400px - 4.1666667%);
        width: calc(100% - 8.33333%);
        border-bottom: 2px solid var(--tainacan-interface--link-color, #298596);
        border-bottom: 2px solid var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));

        &>.wp-block {
            margin: 0 !important;
            padding: 0px;
        }
        &.is-root-container.is-layout-flow>h1 {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }
    .wp-block.editor-post-title__block,
    .editor-post-title__block .editor-post-title__input,
    .editor-post-title.editor-post-title__input {
        font-size: 1.25rem;
        font-family: 'Roboto', sans-serif;
        color:#1d1d1d;
        textarea {
            padding: 3px 6px;
            color: #1d1d1d;
        }
    }

    /* Text input */
    .components-modal__content .input-control,
    .components-modal__content input[type="date"],
    .components-modal__content input[type="datetime-local"],
    .components-modal__content input[type="datetime"],
    .components-modal__content input[type="email"],
    .components-modal__content input[type="month"],
    .components-modal__content input[type="number"],
    .components-modal__content input[type="password"],
    .components-modal__content input[type="search"],
    .components-modal__content input[type="tel"],
    .components-modal__content input[type="text"],
    .components-modal__content input[type="time"],
    .components-modal__content input[type="url"],
    .components-modal__content input[type="week"],
    .components-modal__content select,
    .components-modal__content textarea,
    .components-popover .input-control,
    .components-popover input[type="date"],
    .components-popover input[type="datetime-local"],
    .components-popover input[type="datetime"],
    .components-popover input[type="email"],
    .components-popover input[type="month"],
    .components-popover input[type="number"],
    .components-popover input[type="password"],
    .components-popover input[type="search"],
    .components-popover input[type="tel"],
    .components-popover input[type="text"],
    .components-popover input[type="time"],
    .components-popover input[type="url"],
    .components-popover input[type="week"],
    .components-popover select,
    .components-popover textarea {
        border-radius: 0;
        border-color: #cbcbcb;
        padding: 4px 8px;

        &:focus {
            border: 1px solid #555758;
            box-shadow: none;
        }
    }

    /* Labels */
    .components-base-control__label {
        font-weight: 600;
        color: black;
    }

    /* Blockquote */
    .wp-block-quote.is-style-large {
        font-size: 1.375rem;
        font-family: 'Roboto', sans-serif;
    }
    .wp-block-quote:not(.is-style-large):not(.is-large) {
        border-left: 2px solid var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));
    }
    .wp-block-quote__citation {
        font-weight: 500;
        font-size: 1rem;
        text-align: right;
        font-style: italic;
        color: #555758;
    }

    /* Pullquote */
    .wp-block-pullquote {
        &:not(.is-style-solid-color) {
            border-top: 2px solid var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));
            border-bottom: 2px solid var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));
        }

        .block-library-pullquote__content.editor-rich-text p,
        .rich-text.block-editor-rich-text__editable p {
            font-size: 1.375rem;
            font-weight: 500;
        }
        :not(.has-text-color) .block-library-pullquote__content.editor-rich-text p,
        :not(.has-text-color) .rich-text.block-editor-rich-text__editable p {
            color: var(--tainacan-interface--link-color, #298596);
            color: var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));
        }
        .wp-block-pullquote__citation {
            color: #555758;
            font-size: 1rem;
            font-weight: normal;
            font-style: italic;
            text-transform: none;
        }
    }

    /* Separator */
    .wp-block-separator {
        &:not(.has-background-color) {
            border-color: var(--tainacan-interface--link-color, #298596);
            border-color: var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));
        }
        width: 50%;
        max-width: 300px;
        &.is-style-wide {
            width: 100%;
        }
        &.is-style-dots {
            &:not(.has-background-color)::before {
                color: var(--tainacan-interface--link-color, #298596);
                color: var(--tainacan-color-default, var(--tainacan-interface--link-color, #298596));
            }
            &::before {
                font-weight: 600;
            }
        }
    }

    /* Tables */
    .wp-block-table th {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #cbcbcb;
        font-weight: normal;
        font-size: 0.75rem;
        padding: .75rem;
    }
    .wp-block-table td {
        border: 1px solid #f2f2f2;
        font-size: 0.875rem;
        padding: .75rem;
    }

    .tainacan-heading-section-pattern-pattern hr {
        margin-left: 0px
    }
}
