.editor-styles-wrapper {
  background: white; }

.edit-post-visual-editor.editor-styles-wrapper,
.components-modal__screen-overlay {
  font-family: 'Roboto', sans-serif !important;
  /* Main column width */
  /* Width of "wide" blocks */
  /* Width of "full" blocks */
  /* Width of "full" blocks from WP 5.5 on, as it adds 10px padding to container */
  /* Columns */
  /* Post title */
  /* Heading */
  /* Links */
  /* Buttons */
  /* Text input */
  /* Labels */
  /* Cover block */
  /* Modal container */
  /* Modal Header */
  /* Checkboxes and Radio Buttons*/
  /* Blockquote */
  /* Pullquote */
  /* Pre */
  /* Code */
  /* Tables */
  /* Tainacan Selection Modal */
  /* Extra title group class, that can be added for styling special headings */ }
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__layout,
  .edit-post-visual-editor.editor-styles-wrapper .block-editor-block-list__layout,
  .components-modal__screen-overlay .editor-block-list__layout,
  .components-modal__screen-overlay .block-editor-block-list__layout {
    padding-left: 4.1666667%;
    padding-right: 4.1666667%; }
  .edit-post-visual-editor.editor-styles-wrapper .editor-writing-flow__click-redirect,
  .components-modal__screen-overlay .editor-writing-flow__click-redirect {
    width: auto; }
  .edit-post-visual-editor.editor-styles-wrapper .editor-inner-blocks,
  .edit-post-visual-editor.editor-styles-wrapper .block-editor-inner-blocks,
  .edit-post-visual-editor.editor-styles-wrapper .editor-inner-blocks > .editor-block-list__layout,
  .edit-post-visual-editor.editor-styles-wrapper .block-editor-inner-blocks > .block-editor-block-list__layout,
  .components-modal__screen-overlay .editor-inner-blocks,
  .components-modal__screen-overlay .block-editor-inner-blocks,
  .components-modal__screen-overlay .editor-inner-blocks > .editor-block-list__layout,
  .components-modal__screen-overlay .block-editor-inner-blocks > .block-editor-block-list__layout {
    padding-left: 0;
    padding-right: 0; }
    .edit-post-visual-editor.editor-styles-wrapper .editor-inner-blocks .wp-block,
    .edit-post-visual-editor.editor-styles-wrapper .block-editor-inner-blocks .wp-block,
    .edit-post-visual-editor.editor-styles-wrapper .editor-inner-blocks > .editor-block-list__layout .wp-block,
    .edit-post-visual-editor.editor-styles-wrapper .block-editor-inner-blocks > .block-editor-block-list__layout .wp-block,
    .components-modal__screen-overlay .editor-inner-blocks .wp-block,
    .components-modal__screen-overlay .block-editor-inner-blocks .wp-block,
    .components-modal__screen-overlay .editor-inner-blocks > .editor-block-list__layout .wp-block,
    .components-modal__screen-overlay .block-editor-inner-blocks > .block-editor-block-list__layout .wp-block {
      margin-right: 4.1666667%;
      margin-left: 4.1666667%; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block,
  .components-modal__screen-overlay .wp-block {
    max-width: 1400px;
    margin-left: 8.3333333%;
    margin-right: 8.3333333%; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="wide"],
  .components-modal__screen-overlay .wp-block[data-align="wide"] {
    margin-left: auto;
    margin-right: auto; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="full"],
  .components-modal__screen-overlay .wp-block[data-align="full"] {
    max-width: 109.18%;
    width: 109.18%;
    margin-left: -4.59%;
    margin-right: -4.59%; }
  .edit-post-visual-editor.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"],
  .components-modal__screen-overlay .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
    max-width: calc(109.18% + 20px);
    width: calc(109.18% + 20px);
    margin-left: calc(-4.59% - 10px);
    margin-right: calc(-4.59% - 10px); }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns,
  .components-modal__screen-overlay .wp-block-columns {
    padding: 0; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:last-child),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"]:not(:last-child),
  .components-modal__screen-overlay .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:last-child),
  .components-modal__screen-overlay .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"]:not(:last-child) {
    margin-right: 2.0833333%; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:first-child),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"]:not(:first-child),
  .components-modal__screen-overlay .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:first-child),
  .components-modal__screen-overlay .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"]:not(:first-child) {
    margin-left: 2.0833333%; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"],
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .wp-block-column[data-type="core/column"],
  .components-modal__screen-overlay .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"],
  .components-modal__screen-overlay .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"],
  .components-modal__screen-overlay .wp-block-columns > .wp-block-column[data-type="core/column"] {
    margin-left: 0;
    margin-right: 0;
    padding: 0; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .wp-block-column[data-type="core/column"]:not(:first-child),
  .components-modal__screen-overlay .wp-block-columns > .wp-block-column[data-type="core/column"]:not(:first-child) {
    padding-left: 2.0833333%; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .wp-block-column[data-type="core/column"]:not(:first-child),
  .components-modal__screen-overlay .wp-block-columns > .wp-block-column[data-type="core/column"]:not(:first-child) {
    padding-right: 2.0833333%; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns > .wp-block-column[data-type="core/column"] > .wp-block,
  .components-modal__screen-overlay .wp-block-columns > .wp-block-column[data-type="core/column"] > .wp-block {
    margin-left: 0;
    margin-right: 0; }
  .edit-post-visual-editor.editor-styles-wrapper .editor-post-title,
  .components-modal__screen-overlay .editor-post-title {
    margin: 0 4.1666667% 3em 4.1666667%;
    padding: 0;
    border-bottom: 2px solid #298596; }
    .edit-post-visual-editor.editor-styles-wrapper .editor-post-title > .wp-block,
    .components-modal__screen-overlay .editor-post-title > .wp-block {
      margin: 0 14px !important; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block.editor-post-title__block,
  .edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
  .components-modal__screen-overlay .wp-block.editor-post-title__block,
  .components-modal__screen-overlay .editor-post-title__block .editor-post-title__input {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif; }
    .edit-post-visual-editor.editor-styles-wrapper .wp-block.editor-post-title__block textarea,
    .edit-post-visual-editor.editor-styles-wrapper .editor-post-title__block .editor-post-title__input textarea,
    .components-modal__screen-overlay .wp-block.editor-post-title__block textarea,
    .components-modal__screen-overlay .editor-post-title__block .editor-post-title__input textarea {
      padding: 3px 6px;
      color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-heading h1,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/heading"] h1,
  .edit-post-visual-editor.editor-styles-wrapper h1.wp-block[data-type="core/heading"],
  .components-modal__screen-overlay .wp-block-heading h1,
  .components-modal__screen-overlay .wp-block[data-type="core/heading"] h1,
  .components-modal__screen-overlay h1.wp-block[data-type="core/heading"] {
    font-size: 1.125rem;
    color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-heading h2,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/heading"] h2,
  .edit-post-visual-editor.editor-styles-wrapper h2.wp-block[data-type="core/heading"],
  .components-modal__screen-overlay .wp-block-heading h2,
  .components-modal__screen-overlay .wp-block[data-type="core/heading"] h2,
  .components-modal__screen-overlay h2.wp-block[data-type="core/heading"] {
    font-size: 1.125rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-heading h3,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/heading"] h3,
  .edit-post-visual-editor.editor-styles-wrapper h3.wp-block[data-type="core/heading"],
  .components-modal__screen-overlay .wp-block-heading h3,
  .components-modal__screen-overlay .wp-block[data-type="core/heading"] h3,
  .components-modal__screen-overlay h3.wp-block[data-type="core/heading"] {
    font-size: 1rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-heading h4,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/heading"] h4,
  .edit-post-visual-editor.editor-styles-wrapper h4.wp-block[data-type="core/heading"],
  .components-modal__screen-overlay .wp-block-heading h4,
  .components-modal__screen-overlay .wp-block[data-type="core/heading"] h4,
  .components-modal__screen-overlay h4.wp-block[data-type="core/heading"] {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    color: #555758; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-heading h5,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/heading"] h5,
  .edit-post-visual-editor.editor-styles-wrapper h5.wp-block[data-type="core/heading"],
  .components-modal__screen-overlay .wp-block-heading h5,
  .components-modal__screen-overlay .wp-block[data-type="core/heading"] h5,
  .components-modal__screen-overlay h5.wp-block[data-type="core/heading"] {
    font-size: 0.875rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-heading h5,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block[data-type="core/heading"] h5,
  .edit-post-visual-editor.editor-styles-wrapper h5.wp-block[data-type="core/heading"],
  .components-modal__screen-overlay .wp-block-heading h5,
  .components-modal__screen-overlay .wp-block[data-type="core/heading"] h5,
  .components-modal__screen-overlay h5.wp-block[data-type="core/heading"] {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: normal;
    color: #555758; }
  .edit-post-visual-editor.editor-styles-wrapper a,
  .components-modal__screen-overlay a {
    text-decoration: none; }
  .edit-post-visual-editor.editor-styles-wrapper .has-text-color > a,
  .edit-post-visual-editor.editor-styles-wrapper .has-text-color > a:hover,
  .components-modal__screen-overlay .has-text-color > a,
  .components-modal__screen-overlay .has-text-color > a:hover {
    color: inherit; }
  .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button,
  .components-modal__screen-overlay .components-button.is-button {
    border: none;
    box-shadow: none;
    border-radius: 6px;
    height: auto;
    text-shadow: none;
    font-size: 0.875rem; }
    .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button:active:not(.is-default),
    .components-modal__screen-overlay .components-button.is-button:active:not(.is-default) {
      color: white; }
    .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button:active, .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button:focus,
    .components-modal__screen-overlay .components-button.is-button:active,
    .components-modal__screen-overlay .components-button.is-button:focus {
      box-shadow: none; }
  .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button:not(.is-small),
  .components-modal__screen-overlay .components-button.is-button:not(.is-small) {
    padding: 5px 12px;
    line-height: 1.2rem; }
  .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button.is-primary,
  .components-modal__screen-overlay .components-button.is-button.is-primary {
    background-color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .components-button.is-button.is-default,
  .components-modal__screen-overlay .components-button.is-button.is-default {
    background: white;
    border: 1px solid #555758;
    color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .components-icon-button:hover:not(.is-default),
  .edit-post-visual-editor.editor-styles-wrapper .components-icon-button:focus:not(.is-default),
  .edit-post-visual-editor.editor-styles-wrapper .components-icon-button:active:not(.is-default),
  .components-modal__screen-overlay .components-icon-button:hover:not(.is-default),
  .components-modal__screen-overlay .components-icon-button:focus:not(.is-default),
  .components-modal__screen-overlay .components-icon-button:active:not(.is-default) {
    box-shadow: none !important;
    background: none !important;
    border: none !important; }
  .edit-post-visual-editor.editor-styles-wrapper .components-icon-button.is-default:hover,
  .edit-post-visual-editor.editor-styles-wrapper .components-icon-button.is-default:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-icon-button.is-default:active,
  .components-modal__screen-overlay .components-icon-button.is-default:hover,
  .components-modal__screen-overlay .components-icon-button.is-default:focus,
  .components-modal__screen-overlay .components-icon-button.is-default:active {
    box-shadow: none !important;
    background: white !important;
    border: 1px solid #555758 !important; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-button__link,
  .components-modal__screen-overlay .wp-block-button__link {
    background-color: #298596;
    border-radius: 6px;
    font-size: 0.875rem;
    padding: 6px 18px; }
  .edit-post-visual-editor.editor-styles-wrapper .is-style-outline .wp-block-button__link,
  .components-modal__screen-overlay .is-style-outline .wp-block-button__link {
    background-color: white;
    border: 1px solid #555758;
    color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .is-style-squared .wp-block-button__link,
  .components-modal__screen-overlay .is-style-squared .wp-block-button__link {
    border-radius: 0px; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content .input-control,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="date"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="datetime-local"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="datetime"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="email"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="month"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="number"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="password"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="search"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="tel"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="text"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="time"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="url"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="week"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content select,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content textarea,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover .input-control,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="date"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="datetime-local"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="datetime"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="email"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="month"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="number"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="password"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="search"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="tel"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="text"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="time"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="url"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="week"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover select,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover textarea,
  .components-modal__screen-overlay .components-modal__content .input-control,
  .components-modal__screen-overlay .components-modal__content input[type="date"],
  .components-modal__screen-overlay .components-modal__content input[type="datetime-local"],
  .components-modal__screen-overlay .components-modal__content input[type="datetime"],
  .components-modal__screen-overlay .components-modal__content input[type="email"],
  .components-modal__screen-overlay .components-modal__content input[type="month"],
  .components-modal__screen-overlay .components-modal__content input[type="number"],
  .components-modal__screen-overlay .components-modal__content input[type="password"],
  .components-modal__screen-overlay .components-modal__content input[type="search"],
  .components-modal__screen-overlay .components-modal__content input[type="tel"],
  .components-modal__screen-overlay .components-modal__content input[type="text"],
  .components-modal__screen-overlay .components-modal__content input[type="time"],
  .components-modal__screen-overlay .components-modal__content input[type="url"],
  .components-modal__screen-overlay .components-modal__content input[type="week"],
  .components-modal__screen-overlay .components-modal__content select,
  .components-modal__screen-overlay .components-modal__content textarea,
  .components-modal__screen-overlay .components-popover .input-control,
  .components-modal__screen-overlay .components-popover input[type="date"],
  .components-modal__screen-overlay .components-popover input[type="datetime-local"],
  .components-modal__screen-overlay .components-popover input[type="datetime"],
  .components-modal__screen-overlay .components-popover input[type="email"],
  .components-modal__screen-overlay .components-popover input[type="month"],
  .components-modal__screen-overlay .components-popover input[type="number"],
  .components-modal__screen-overlay .components-popover input[type="password"],
  .components-modal__screen-overlay .components-popover input[type="search"],
  .components-modal__screen-overlay .components-popover input[type="tel"],
  .components-modal__screen-overlay .components-popover input[type="text"],
  .components-modal__screen-overlay .components-popover input[type="time"],
  .components-modal__screen-overlay .components-popover input[type="url"],
  .components-modal__screen-overlay .components-popover input[type="week"],
  .components-modal__screen-overlay .components-popover select,
  .components-modal__screen-overlay .components-popover textarea {
    border-radius: 0;
    border-color: #cbcbcb;
    padding: 4px 8px; }
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content .input-control:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="date"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="datetime-local"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="datetime"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="email"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="month"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="number"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="password"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="search"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="tel"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="text"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="time"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="url"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="week"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content select:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__content textarea:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover .input-control:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="date"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="datetime-local"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="datetime"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="email"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="month"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="number"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="password"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="search"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="tel"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="text"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="time"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="url"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="week"]:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover select:focus,
    .edit-post-visual-editor.editor-styles-wrapper .components-popover textarea:focus,
    .components-modal__screen-overlay .components-modal__content .input-control:focus,
    .components-modal__screen-overlay .components-modal__content input[type="date"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="datetime-local"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="datetime"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="email"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="month"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="number"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="password"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="search"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="tel"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="text"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="time"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="url"]:focus,
    .components-modal__screen-overlay .components-modal__content input[type="week"]:focus,
    .components-modal__screen-overlay .components-modal__content select:focus,
    .components-modal__screen-overlay .components-modal__content textarea:focus,
    .components-modal__screen-overlay .components-popover .input-control:focus,
    .components-modal__screen-overlay .components-popover input[type="date"]:focus,
    .components-modal__screen-overlay .components-popover input[type="datetime-local"]:focus,
    .components-modal__screen-overlay .components-popover input[type="datetime"]:focus,
    .components-modal__screen-overlay .components-popover input[type="email"]:focus,
    .components-modal__screen-overlay .components-popover input[type="month"]:focus,
    .components-modal__screen-overlay .components-popover input[type="number"]:focus,
    .components-modal__screen-overlay .components-popover input[type="password"]:focus,
    .components-modal__screen-overlay .components-popover input[type="search"]:focus,
    .components-modal__screen-overlay .components-popover input[type="tel"]:focus,
    .components-modal__screen-overlay .components-popover input[type="text"]:focus,
    .components-modal__screen-overlay .components-popover input[type="time"]:focus,
    .components-modal__screen-overlay .components-popover input[type="url"]:focus,
    .components-modal__screen-overlay .components-popover input[type="week"]:focus,
    .components-modal__screen-overlay .components-popover select:focus,
    .components-modal__screen-overlay .components-popover textarea:focus {
      border: 1px solid #555758;
      box-shadow: none; }
  .edit-post-visual-editor.editor-styles-wrapper .components-base-control__label,
  .components-modal__screen-overlay .components-base-control__label {
    font-weight: 600;
    color: black; }
  .edit-post-visual-editor.editor-styles-wrapper :not([data-align="wide"]):not([data-align="full"]) > .wp-block-cover,
  .components-modal__screen-overlay :not([data-align="wide"]):not([data-align="full"]) > .wp-block-cover {
    width: auto; }
  .edit-post-visual-editor.editor-styles-wrapper [data-align="full"] .wp-block-cover__inner-container,
  .components-modal__screen-overlay [data-align="full"] .wp-block-cover__inner-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 8.3333333333%;
    padding: 0 8.3333333333vw; }
    .edit-post-visual-editor.editor-styles-wrapper [data-align="full"] .wp-block-cover__inner-container > .wp-block,
    .components-modal__screen-overlay [data-align="full"] .wp-block-cover__inner-container > .wp-block {
      max-width: 100%;
      margin: 0; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content,
  .components-modal__screen-overlay .components-modal__content {
    padding: 32px;
    overflow: hidden; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__header,
  .components-modal__screen-overlay .components-modal__header {
    height: 32px;
    margin: 0 12px 32px 12px;
    padding: 0;
    border-bottom: 1px solid #298596; }
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__header .components-modal__header-heading,
    .edit-post-visual-editor.editor-styles-wrapper .components-modal__header h1,
    .components-modal__screen-overlay .components-modal__header .components-modal__header-heading,
    .components-modal__screen-overlay .components-modal__header h1 {
      font-size: 1.125rem;
      font-weight: 500;
      color: #555758; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="checkbox"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="checkbox"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="checkbox"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"]:checked::before,
  .components-modal__screen-overlay .components-modal__content input[type="checkbox"]:checked::before,
  .components-modal__screen-overlay .components-popover input[type="checkbox"]:checked::before,
  .components-modal__screen-overlay .editor-block-list__block input[type="checkbox"]:checked::before,
  .components-modal__screen-overlay .components-modal__content input[type="radio"]:checked::before,
  .components-modal__screen-overlay .components-popover input[type="radio"]:checked::before,
  .components-modal__screen-overlay .editor-block-list__block input[type="radio"]:checked::before {
    color: black; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"]:checked::before,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"]:checked::before,
  .components-modal__screen-overlay .components-modal__content input[type="radio"]:checked::before,
  .components-modal__screen-overlay .components-popover input[type="radio"]:checked::before,
  .components-modal__screen-overlay .editor-block-list__block input[type="radio"]:checked::before {
    background: black;
    margin: 3px 0 0 3px;
    width: 8px;
    height: 8px; }
    @media screen and (max-width: 782px) {
      .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"]:checked::before,
      .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"]:checked::before,
      .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"]:checked::before,
      .components-modal__screen-overlay .components-modal__content input[type="radio"]:checked::before,
      .components-modal__screen-overlay .components-popover input[type="radio"]:checked::before,
      .components-modal__screen-overlay .editor-block-list__block input[type="radio"]:checked::before {
        margin: 4px 0 0 4px;
        width: 15px;
        height: 15px; } }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="checkbox"]:checked,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"]:checked,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="checkbox"]:checked,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"]:checked,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="checkbox"]:checked,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"]:checked,
  .components-modal__screen-overlay .components-modal__content input[type="checkbox"]:checked,
  .components-modal__screen-overlay .components-modal__content input[type="radio"]:checked,
  .components-modal__screen-overlay .components-popover input[type="checkbox"]:checked,
  .components-modal__screen-overlay .components-popover input[type="radio"]:checked,
  .components-modal__screen-overlay .editor-block-list__block input[type="checkbox"]:checked,
  .components-modal__screen-overlay .editor-block-list__block input[type="radio"]:checked {
    background: white;
    border: 1px solid #555758; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="checkbox"],
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="checkbox"],
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"],
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="checkbox"],
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"],
  .components-modal__screen-overlay .components-modal__content input[type="checkbox"],
  .components-modal__screen-overlay .components-modal__content input[type="radio"],
  .components-modal__screen-overlay .components-popover input[type="checkbox"],
  .components-modal__screen-overlay .components-popover input[type="radio"],
  .components-modal__screen-overlay .editor-block-list__block input[type="checkbox"],
  .components-modal__screen-overlay .editor-block-list__block input[type="radio"] {
    border: 1px solid #555758; }
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="checkbox"]:checked:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"]:checked:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="checkbox"]:checked:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"]:checked:focus,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="checkbox"]:checked:focus,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"]:checked:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="checkbox"]:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-modal__content input[type="radio"]:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="checkbox"]:focus,
  .edit-post-visual-editor.editor-styles-wrapper .components-popover input[type="radio"]:focus,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="checkbox"]:focus,
  .edit-post-visual-editor.editor-styles-wrapper .editor-block-list__block input[type="radio"]:focus,
  .components-modal__screen-overlay .components-modal__content input[type="checkbox"]:checked:focus,
  .components-modal__screen-overlay .components-modal__content input[type="radio"]:checked:focus,
  .components-modal__screen-overlay .components-popover input[type="checkbox"]:checked:focus,
  .components-modal__screen-overlay .components-popover input[type="radio"]:checked:focus,
  .components-modal__screen-overlay .editor-block-list__block input[type="checkbox"]:checked:focus,
  .components-modal__screen-overlay .editor-block-list__block input[type="radio"]:checked:focus,
  .components-modal__screen-overlay .components-modal__content input[type="checkbox"]:focus,
  .components-modal__screen-overlay .components-modal__content input[type="radio"]:focus,
  .components-modal__screen-overlay .components-popover input[type="checkbox"]:focus,
  .components-modal__screen-overlay .components-popover input[type="radio"]:focus,
  .components-modal__screen-overlay .editor-block-list__block input[type="checkbox"]:focus,
  .components-modal__screen-overlay .editor-block-list__block input[type="radio"]:focus {
    box-shadow: none; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
  .components-modal__screen-overlay .wp-block-quote {
    margin: 3rem 8.33333%;
    padding: 1rem;
    color: #555758;
    font-weight: normal;
    font-size: 1rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote.is-style-large,
  .components-modal__screen-overlay .wp-block-quote.is-style-large {
    font-size: 1.375rem;
    font-family: 'Roboto', sans-serif; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-style-large):not(.is-large),
  .components-modal__screen-overlay .wp-block-quote:not(.is-style-large):not(.is-large) {
    border-left: 2px solid #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation,
  .components-modal__screen-overlay .wp-block-quote__citation {
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
    font-style: italic;
    color: #555758; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote,
  .components-modal__screen-overlay .wp-block-pullquote {
    border-top: 2px solid #cbcbcb;
    border-bottom: 2px solid #cbcbcb;
    padding: 1rem 0; }
    .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote .block-library-pullquote__content.editor-rich-text p,
    .components-modal__screen-overlay .wp-block-pullquote .block-library-pullquote__content.editor-rich-text p {
      font-size: 1.375rem;
      color: #298596;
      font-weight: 500; }
    .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote .wp-block-pullquote__citation,
    .components-modal__screen-overlay .wp-block-pullquote .wp-block-pullquote__citation {
      color: #555758;
      font-size: 1rem;
      font-weight: normal;
      font-style: italic;
      text-transform: none; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-preformatted pre,
  .components-modal__screen-overlay .wp-block-preformatted pre {
    color: #555758;
    font-size: 1rem;
    font-weight: 400;
    white-space: pre-line; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-code textarea,
  .components-modal__screen-overlay .wp-block-code textarea {
    color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-table th,
  .components-modal__screen-overlay .wp-block-table th {
    border-bottom: 1px solid #cbcbcb;
    font-weight: normal;
    font-size: 0.75rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-table td,
  .components-modal__screen-overlay .wp-block-table td {
    border: 1px solid #f2f2f2;
    font-size: 0.875rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal.dynamic-modal iframe,
  .components-modal__screen-overlay .wp-block-tainacan-modal.dynamic-modal iframe {
    width: calc(100% + 64px);
    height: calc(100% - 104px);
    margin-left: -32px;
    margin-bottom: -4px; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal.dynamic-modal .modal-footer-area,
  .components-modal__screen-overlay .wp-block-tainacan-modal.dynamic-modal .modal-footer-area {
    height: 72px;
    width: calc(100% + 64px);
    margin-left: -32px !important;
    margin-bottom: -32px !important;
    padding: 1.2rem 3rem !important;
    border-top: 1px solid #898d8f; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal .modal-footer-area,
  .components-modal__screen-overlay .wp-block-tainacan-modal .modal-footer-area {
    margin: 0;
    border: none;
    padding-top: 0px; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal .modal-search-area,
  .components-modal__screen-overlay .wp-block-tainacan-modal .modal-search-area {
    padding: 0 14px; }
    .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal .modal-search-area .components-base-control,
    .components-modal__screen-overlay .wp-block-tainacan-modal .modal-search-area .components-base-control {
      width: 100%; }
      .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field,
      .components-modal__screen-overlay .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field {
        display: flex;
        align-items: center; }
        .edit-post-visual-editor.editor-styles-wrapper .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field label,
        .components-modal__screen-overlay .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field label {
          flex-shrink: 0;
          margin-right: 12px; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading .wp-block-heading,
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading .wp-block-heading {
    color: #298596 !important; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h1:not(.has-text-color),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h2:not(.has-text-color),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h3:not(.has-text-color),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h4:not(.has-text-color),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h1:not(.has-text-color),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h2:not(.has-text-color),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h3:not(.has-text-color),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h4:not(.has-text-color) {
    color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h1.wp-block-heading,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h1:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h1.wp-block-heading,
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h1:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size) {
    font-size: 1.6rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h2.wp-block-heading,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h2:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h2.wp-block-heading,
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h2:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size) {
    font-size: 1.5rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h3.wp-block-heading,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h3:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h3.wp-block-heading,
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h3:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size) {
    font-size: 1.25rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h4.wp-block-heading,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading h4:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h4.wp-block-heading,
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading h4:not(.has-huge-font-size):not(.has-large-font-size):not(.has-medium-font-size):not(.has-normal-font-size):not(.has-small-font-size) {
    font-size: 1.125rem; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading p,
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading p {
    font-style: italic; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading p:not(.has-text-color),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading p:not(.has-text-color) {
    color: #898d8f; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading hr.wp-block-separator:not(.is-style-wide),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading hr.wp-block-separator:not(.is-style-wide) {
    margin-left: 0;
    max-width: 200px;
    border-color: #298596; }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-group.tainacan-group-heading hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots),
  .components-modal__screen-overlay .wp-block-group.tainacan-group-heading hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    border-width: 2px;
    height: 3px; }

.tainacan-heading-section-pattern-pattern h1,
.tainacan-heading-section-pattern-pattern h2,
.tainacan-heading-section-pattern-pattern h3,
.tainacan-heading-section-pattern-pattern h4 {
  margin-bottom: 0px !important; }
.tainacan-heading-section-pattern-pattern p {
  font-style: italic;
  margin-bottom: 0 !important; }
.tainacan-heading-section-pattern-pattern hr.wp-block-separator:not(.is-style-wide) {
  margin-left: 0;
  margin-top: 0.5rem;
  max-width: 200px; }
.tainacan-heading-section-pattern-pattern hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  border-width: 2px;
  height: 3px; }

/*# sourceMappingURL=editor-style.css.map */
